#album {
    .nav.nav-tabs {
        margin-bottom: 10px;
    }

    .artist-name,
    .album-name {
        display: none;
    }

    hr {
        margin: 10px 0;
    }

    .invalid-track {
        color: @text-color;
    }
}
