#artist {
    .nav.nav-tabs {
        margin-bottom: 10px;
    }

    .album-labels.bottom {
        bottom: 25px;
    }

    hr {
        margin: 10px 0;
        clear: both;
    }

    .tracks {
        margin-top: 10px;
        clear: both;
    }

    > h3 {
        float: left;
    }

    .edit-btn {
        float: right;
    }
}

.artist-head {
    p:empty {
        display: none;
    }

    .cover-container {
        margin: 20px 10px 0 0;
        float: right;

        @media (max-width: 768px) {
            display: none;
        }
    }

    ul {
        margin: 0;
    }

    h3 {
        font-size: 1.5em;
        margin: 0 0 5px 0;
        line-height: 30px;

        &.track-head,
        &.album-head {
            small {
                font-size: .8em;
                display: block;
                color: @text-color;
                a {
                    color: @link-color;
                }
            }
        }

        .date {
            color: @gray;

            &:after {
                content: ')';
            }

            &:before {
                content: '(';
            }
        }
    }

    .wikipedia-footer {
        float: right;
        color: @gray-lighter;

        &:not(:last-child) {
            margin-bottom: 0;
        }

        a {
            color: @gray-light;
        }

        &.wikipedia-footer-sub {
            font-size: 0.7em;
            font-family: @original-font-family-sans-serif;
            margin-top: 4px;
        }
    }

    .track-subline,
    .album-subline {
        margin: 0;
        font-size: .8em;
        color: @gray-light;

        a {
            color: @gray-light;
        }
    }

    p {
        margin: 12px 0;
        clear: both;
        overflow: hidden;
    }
}
