#artist {
    .nav.nav-tabs {
        margin-bottom: 10px;
    }

    hr {
        margin: 10px 0;
        clear: both;
    }

    .tracks {
        margin-top: 10px;
        clear: both;
    }

    > h3 {
        float: left;
    }

    .edit-btn {
        float: right;
    }
}

.artist-head {
    figure {
        float: right;
        display: block;
        margin: 15px 10px 15px 15px;

        .cover-container {
            img {
                .box-shadow(1px 1px 4px rgba(0, 0, 0, .6));

                @media (max-width: @screen-md-max) {
                    width: @album-large-width / 1.3;
                    height: @album-large-height / 1.3;
                }

                @media (max-width: @screen-sm-max) {
                    width: @album-large-width / 1.6;
                    height: @album-large-height / 1.6;
                }

                @media (max-width: @screen-xs-max) {
                    width: @album-large-width / 1.9;
                    height: @album-large-height / 1.9;
                }
            }

            @media (max-width: @screen-md-max) {
                width: @album-large-width / 1.3;
                height: @album-large-height / 1.3;
            }

            @media (max-width: @screen-sm-max) {
                width: @album-large-width / 1.6;
                height: @album-large-height / 1.6;
            }

            @media (max-width: @screen-xs-max) {
                width: @album-large-width / 1.9;
                height: @album-large-height / 1.9;
            }
        }
    }

    p:empty {
        display: none;
    }

    ul {
        margin: 0;
    }

    h2 {
        font-size: 2.4em;
        margin: 0 0 5px 0;
        line-height: 30px;
        color: @text-color;

        small {
            margin-top: 8px;
            display: block;
        }

        .date {
            color: @gray-dark;

            &:after {
                content: ')';
            }

            &:before {
                content: '(';
            }
        }
    }

    .google-footer,
    .wikipedia-footer {
        clear: both;
        float: right;
        color: @gray-lighter;

        &:not(:last-child) {
            margin-bottom: 0;
        }

        a {
            color: @gray-light;
        }

        &.google-footer-sub,
        &.wikipedia-footer-sub {
            font-size: 0.7em;
            font-family: @original-font-family-sans-serif;
            margin-top: 4px;
        }
    }

    .lastfm-content {
        p:last-child {
            a {
                display: block;
                float: right;
            }
        }
    }

    .tab-content {
        margin-top: 15px;
        overflow: hidden;
    }

    .nav-pills {
        margin-top: 10px;
    }

    .artists-names {
        .artists-total {
            color: @link-color;
            font-size: 0.8em;
        }
    }
}
