@album-width: 220px;

.artists,
.albums {
    clear: both;
    overflow: hidden;
    padding: 10px 0 0 0;
    margin: 0;

    li {
        list-style: none;
    }

    .artist-container,
    .album-container {
        margin: 8px 0 8px 5%;
        display: inline-block;

        .artist,
        .album {
            margin: 0 auto;
            position: relative;
            width: @album-width;

            .artist-desc,
            .album-desc {
                width: @album-width + 10;

                h3 {
                    line-height: 26px;
                }

                h3, p {
                    margin: 4px 0 4px 8px;
                    white-space: nowrap;
                    clear: both;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                h3 {
                    font-size: 1.2em;

                    span {
                        text-align: left;
                        width: 79%;
                        display: block;
                        float: left;
                        clear: none;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    span.album-date {
                        text-align: right;
                        width: 21%;

                        font-size: .8em;
                        color: @gray;

                        &:after {
                            content: ")";
                        }

                        &:before {
                            content: "(";
                        }
                    }
                }

                p {
                    font-size: 1em;
                }
            }

            .artist-badges,
            .album-badges,
            .add-album {
                z-index: 99;
                position: absolute;
                display: block;
            }

            .artist-badges,
            .album-badges {
                top: -6px;
                left: -6px;

                &.artist-badges.bottom {
                    bottom: 13px;
                }

                &.bottom {
                    bottom: 50px;
                    top: auto;
                    left: 139px;
                    width: 100px;
                    p {
                        float: right;
                    }
                }

                .badge {
                    line-height: 12px;
                }
            }

            .artist-album-count,
            .artist-added,
            .album-added,
            .album-duration,
            .album-low-quality,
            .album-invalid,
            .album-date,
            .album-va,
            .album-track-count {
                display: block;
                margin: 2px 0 0 0;
                float: left;
                clear: both;
            }

            .add-album {
                top: -6px;
                right: -18px;
            }
        }
    }
}

.edit-btn {
    float: right;
    font-weight: normal;

    .dropdown-menu {
        li a {
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: .8em;
        }
    }
}

.queue-btn {
    float: left;
}

.cover-container {
    display: block;
    position: relative;
    width: @album-width + 14;
    height: @album-width + 14;

    .remove-cover {
        position: absolute;
        right: -6px;
        top: -6px;
        z-index: 99;
    }

    img {
        /* shows before real image has loaded... */
        background-image: url(/images/cover_placeholder.png);
        background-repeat: no-repeat;
        background-position: 6px 6px;
        text-indent: -9999px;
        position: absolute;
        right: 0;
        top: 0;

        width: @album-width;
        height: @album-width;

        .transition(.7s);

        &.cover-hide {
            opacity: 0;
        }
    }

    .cover-overlay {
        z-index: -99;
    }
}

.media {
    &> a {
        float: left;
    }

    .cover-container {
        width: 80px;
        height: 80px;

        img {
            width: 80px;
            height: 80px;
        }
    }

    .media-body {
        padding-left: 10px;
    }
}

.media-hierarchy {
    .media.album > .media-body {
        &> p {
            display: none;
        }

        .track {
            .album-name,
            .artist-name {
                display: none;
            }
        }
    }
}

.artist-nav {
    .badge {
        max-width: 70px;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
            color: #FDFDFD;
        }
    }
}

.img-polaroid {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 6px;
    border: 0 1px 3px rgba(0, 0, 0, 0.1);
}
