@cover-width: 220px;
@cover-height: @cover-width;

@cover-big-width: 325px;
@cover-big-height: 325px;

@cover-large-width: 650px;
@cover-large-height: 325px;

.artists,
.albums {
    clear: both;
    overflow: hidden;
    padding: 10px 0 0 0;
    margin: 0;

    li {
        list-style: none;
    }

    .artist,
    .album {
        margin: 0 auto;
        width: @cover-width + 14;
        margin: 8px 0 8px 5%;
        display: inline-block;

        .album-seen {
            position: absolute;
            z-index: 20;
            top: 4px;
            left: 4px;
            .box-shadow(1px 1px 2px rgba(0, 0, 0, .4));
        }

        .artist-desc {
            h3 {
                margin: 4px 0 4px 0;
            }
        }

        .album-desc {
            p,
            h3 {
                margin: 4px 0 4px 8px;
            }
        }

        .artist-desc,
        .album-desc {
            width: @cover-width + 10;

            h3 {
                line-height: 26px;
            }

            h3, p {
                white-space: nowrap;
                clear: both;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            h3 {
                font-size: 1.2em;

                span {
                    text-align: left;
                    width: 79%;
                    display: block;
                    float: left;
                    clear: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                span.album-date {
                    text-align: right;
                    width: 21%;

                    font-size: .8em;
                    color: @gray-dark;

                    &:after {
                        content: ")";
                    }

                    &:before {
                        content: "(";
                    }
                }
            }

            p {
                font-size: 1em;
            }
        }

        figcaption {
            font-family: @original-font-family-sans-serif;

            .remove-cover {
                margin-top: 4px;
            }

            .left {
                width: 154px;
                float: left;
                margin-left: 6px;
            }

            .right {
                margin-top: 8px;
                margin-right: 6px;
                width: 67px;
                float: right;
            }

            dl {
                font-size: .7em;
                margin-top: 8px;
                margin-bottom: 0;

                dt {
                    width: 50px;
                    text-align: left;
                    float: left;
                }

                dd {
                    text-align: right;
                    float: left;
                    width: 100px;
                    margin-left: 0;
                }
            }

            .remove-cover,
            .add-album {
                float: right;
                display: block;
                clear: both;
            }

            .loader {
                margin-top: 30px;
                font-size: 3em;
            }
        }
    }
}

.edit-btn {
    float: right;
    font-weight: normal;

    .dropdown-menu {
        li a {
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: .8em;
        }
    }
}

.queue-btn {
    float: left;
}

.cover-container {
    display: block;
    position: relative;
    width: @cover-width + 14;
    height: @cover-width + 14;

    img {
        width: @cover-width + 14;
        height: @cover-width + 14;

        // adjust img size/margin so we have room for box-shadow
        // because of overflow: hidden...
        &.img-thumbnail {
            // based on img-thumbnail box-shadow
            margin: 2px 5px 6px 3px;
            width: @cover-width + 14 - 8;
            height: @cover-width + 14 - 8;
        }

        text-indent: -9999px;
        position: absolute !important; /* !important because effeckt.css is being difficult */
        right: 0;
        top: 0;

        /* transform transition is for Effeckt.css stuff,
         * and !important is Effeckt.css fault too */
        transition: all 0.5s ease 0s !important;
        transition-property: transform, opacity !important;

        z-index: 20;

        &.cover-hide {
            opacity: 0;
        }
    }

    .cover-overlay {
        z-index: 10;
    }

    &.cover-big {
        width: @cover-big-width;
        height: @cover-big-height;

        img {
            width: @cover-big-width;
            height: @cover-big-height;
        }
    }

    &.cover-large {
        width: @cover-large-width;
        height: @cover-large-height;

        img {
            background-position: 0 0;
            background-image: url(/static/images/cover_large_placeholder.png);

            width: @cover-large-width;
            height: @cover-large-height;
        }
    }
}

.media {
    &> a {
        float: left;
    }

    .cover-container {
        width: 80px;
        height: 80px;

        img {
            width: 80px;
            height: 80px;
        }
    }

    .media-body {
        padding-left: 10px;
    }
}

.media-hierarchy {
    .media.album > .media-body {
        &> p {
            display: none;
        }

        .track {
            .album-name,
            .artist-name {
                display: none;
            }
        }
    }
}

.artist-nav {
    .country-icon {
        float: right;
        margin-top: 6px;
    }

    .label {
        display: block;
        float: left;
        margin: 0 4px 4px 0;
        max-width: 90px;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
            color: @white;
        }
    }

    .list-group > .list-group-item {
        overflow: hidden;
    }
}

.img-thumbnail {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 6px;
    border: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img-small-thumbnail {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 3px;
    border: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.dir_table {
    .folder-name {
        margin-top: 20px;
    }

    .table-responsive {
        margin: 10px 0 0 25px;
    }

    .table {
        tbody {
            border: 0;
        }

        .label {
            display: block;
            float: left;
            margin: 5px 4px 0 0;
        }

        .other-files .label {
            display: inline;
            float: none;
        }

        .queue {
            margin-right: 10px;
        }

        tbody.other-files-header .other-files-header-title {
            cursor: pointer;
        }

        .other-files-header {
            a {
                float: right;

                .in, .out {
                    display: none;
                }

                &:not(.collapsed) .out {
                    display: inline;
                }

                &.collapsed .in {
                    display: inline;
                }
            }
        }

        .other-files-header,
        .other-files {
            &.collapse {
                &:not(.in) {
                    display: none;
                }
            }

            .album-name,
            .artist-name {
                display: inline;

                &:after {
                    content: " - ";
                }
            }

            .track-number,
            .track-duration {
                display: none;
            }

            .track-file {
                float: right;
            }

            .file-size,
            .file-modified {
                float: right;
            }

            .file-size:before {
                content: ', ';
            }
        }

        td:empty {
            width: 0;
            padding: 0;
            margin: 0;
        }
    }
}

.popover {
    max-width: 800px;

    img {
        max-width: 750px;
        max-height: 750px;
    }
}

