.dashboard-box {
    margin: 0 8px 12px 0;
    .box-shadow(1px 2px 3px rgba(0, 0, 0, .15));
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    .dashboard-header {
        #gradient > .vertical(lighten(@grayLighter, 18%), lighten(@grayLighter, 14%));
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
        border: 1px solid lighten(@grayLight, 10%);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        display: block;
        margin: 0;
        font-size: 16pt;
        line-height: 16pt;
        padding: 4px 0 6px 8px;
        color: @black;
        border-bottom: none;
        clear: both;
        overflow: hidden;

        .icon {
            float: right;
            margin-right: 10px;
        }
    }

    .dashboard-content {
        background-color: #fff;
        border: 1px solid lighten(@grayLight, 10%);
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        padding: 8px 0 0 0;

        p {
            padding: 2px 8px 2px 8px;
        }
    }

    .top-artists {
        .cover-container {
            width: 80px;
            height: 80px;
            float: left;
            margin: 0 4px 4px 0;

            img {
                width: 80px;
                height: 80px;
            }
        }
    }

    .users {
        font-size: .9em;
    }

    .new-albums,
    .recently-listened {
        ul {
            margin: 0;
            list-style: none;

            li {
                margin: 2px 8px;

                .cover-container {
                    width: 40px;
                    height: 40px;
                    float: left;
                    margin-right: 8px;

                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                p {
                    font-size: .9em;
                    line-height: .9em;
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.dashboard-container {
    &.navbar {
        margin-bottom: 0;
    }

    #content {
        margin-top: -34px;

        background-color: #f8f8f8;

        @media (max-width: @navbarCollapseWidth) {
            padding-top: 20px;
        }
    }
}
