.dashboard-box {
    &.panel .panel-heading {
        .icon {
            float: right;
        }
    }

    &.panel {
        margin-bottom: @grid-gutter-width;
    }

    .top-artists {
        > a {
            float: left;
            margin: 0 6px 6px 0;

            h4 {
                margin: 0 4px;
                width: 90px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                font-size: 1em;
            }

            .cover-container {
                width: 90px;
                height: 90px;
                margin: 0;

                img {
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }

    .new-albums,
    .recently-listened {
        .cover-container {
            width: 70px;
            height: 70px;
            float: left;
            margin-right: 8px;

            img {
                width: 70px;
                height: 70px;
            }
        }

        p {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.dashboard-container {
    &#spacer {
        margin-top: 65px;
    }
}
