#edit {
    .left {
        float: left;
    }

    .right {
        margin-bottom: 10px;
        float:right;
    }

    hr {
        clear: both;
    }

    .lock {
        float: right;

        .icon-locked {
            display: none;
        }

        &.locked {
            .icon-unlocked {
                display: none;
            }

            .icon-locked {
                display: inline;
            }
        }
    }

    table {
        margin: 10px 0;

        .track-info td {
            font-family: @original-font-family-sans-serif;
            font-size: .7em;
            line-height: .7em;

            .title {
                font-weight: bold;
            }
        }

        th {
            &.artist,
            &.album,
            &.track {
                width: 23%;
            }

            &.date,
            &.number,
            &.disc {
                width: 10%;
            }
        }

        td input {
            margin-bottom: 0;
            width: 90%;
        }
    }
}
