#index {
    &.index_unauth {
        .music-span {
            text-align: center;
            text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);

            .fa-music {
                width: 200px;
                height: 200px;
                font-size: 200px;
            }
        }

        .hero-unit {
            min-height: 200px;

        }
    }
}
