#library {
    .tracks-nav,
    .artists-nav,
    .albums-nav {
        margin-bottom: 0;
        margin-right: 10px;
        float: right;
    }

    .tracks {
        clear: both;
    }

    .views,
    .filters,
    .sorts {
        float: right;
        margin: 0 6px 6px 0;

        dt {
            font-size: .8em;
        }

        dd,
        dt {
            float: left;
            line-height: 25px;
            padding: 4px 0;
            margin-left: 4px;
        }

        dd {
            ul {
                margin: 0;

                li {
                    margin: 0 2px;
                    float: left;
                    list-style: none;

                    input {
                        width: 80px;
                        margin: 0;
                        font-size: 11px;
                        height: 13px;
                        padding: 1px 4px;
                    }

                    > a {
                        .btn;
                        .btn-mini;
                        .btn-inverse;
                    }

                    &.active {
                        a {
                            .btn-primary;
                        }
                    }
                }
            }
        }
    }

    hr {
        clear: both;
        margin: 12px 0;
    }

    table.album-list {
        .cover-container {
            width: 40px;
            height: 40px;
            margin: 0 auto;

            img {
                width: 40px;
                height: 40px;
            }
        }

        th, td {
            vertical-align: middle;

            &.queue,
            &.cover {
                text-align: center;
                width: 44px;
            }

            &.added {
                width: 100px;
            }
        }
    }
}
