#track {
    .nav.nav-tabs {
        margin-bottom: 10px;
    }

    .table {
        margin-top: 16px;

        .label {
            margin-right: 5px;
        }
    }

    .hash {
        td {
            font-family: @font-family-monospace;
        }
    }
}
