@import "lib/bootstrap/variables.less";

@gray-darker: #4a4a4a;
@gray-dark: #515151;
@gray: #5a5a5a;
@gray-light: #888;
@gray-lighter: #cacaca;
@white: #fdfdfd;

@brand-primary: #2a2a2a;
@brand-success: #7DB458;
@brand-warning: #E4B147;
@brand-danger: #A12419;
@brand-info: #5C6D7E;

@state-info-text: darken(@brand-info, 12%);
@state-info-bg: lighten(@brand-info, 37%);

@state-danger-text: darken(@brand-danger, 20%);
@state-danger-bg: lighten(@brand-danger, 24%);

@state-success-text: darken(@brand-success, 35%);
@state-success-bg: lighten(@brand-success, 8%);

@state-warning-text: darken(@brand-warning, 43%);
@state-warning-bg: lighten(@brand-warning, 10%);

@link-color: #333;
@link-hover-color: #000;

@original-font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sans-serif: "News Cycle", "Arial Narrow Bold", sans-serif;
@font-family-serif: "Vollkorn", Georgia, "Times New Roman", Times, serif;
@font-family-base: @font-family-sans-serif;

@headings-font-family: @font-family-sans-serif;
@headings-font-weight: bold;

@font-size-base: 16px;
@font-size-large: 20px;
@font-size-small: 14px;

@screen-md: 940px;

@table-bg: #f9f9f9;
@table-bg-accent: #f6f6f6;
@table-bg-hover: #f2f2f2;
@table-border-color: #ccc;

@navbarText: @white;
@navbar-default-link-color: @white;
@navbar-default-link-hover-color: @white;
@navbar-default-link-active-color: @gray-lighter;

@grid-gutter-width: 5px;

@btn-primary-bg: #111;
@btn-danger-bg: #CC5E52;
@btn-success-bg: #6BB36D;
@btn-warning-bg: #D9C357;

@body-bg: @white;

