#torrents_deluge {
    .connectivity {
        &.failed {
            .host_connecting,
            .host_is_up {
                display: none;
            }
        }

        &.connected {
            .host_connecting,
            .host_is_down {
                display: none;
            }
        }

        &.connecting {
            .host_is_up,
            .host_is_down {
                display: none;
            }
        }
    }

    table {
        th,
        td {
            white-space: nowrap;

            &.status {
                span {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 60px;
                }
            }

            &.name {
                span {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @media (max-width: @screen-md-max) {
                        width: 300px;
                    }

                    @media (max-width: @screen-sm-max) {
                        width: 200px;
                    }

                    @media (max-width: @screen-xs-max) {
                        width: 50px;
                    }
                }
            }
        }
    }
}
