.login-body {
    #overlay {
        &.initial {
            display: none !important;
        }

        &.transparent {
            background-color: transparent;
        }
    }

    overflow: hidden;
    background-color: #444349;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 100%), url('../assets/images/stardust.png');
}

.login-container {
    &#spacer {
        margin-top: 0;
    }
}

@login-jumbotron-width: 600px;

#login {
    .jumbotron {
        width: @login-jumbotron-width;

        @media (max-width: @screen-xs-max) {
            width: @login-jumbotron-width / 2 + @jumbotron-padding * 2;
        }

        height: 180px + @jumbotron-padding * 1.6 * 2;
        margin: 0 auto;
        box-shadow: 0 0 12px rgba(0, 0, 0, .6);
        border: 1px solid #333;
        position: relative;
        background-color: @white;
    }

    min-height: 100%;
    min-height: 100vh;

    /* for safari and old chrome */
    display: -webkit-flex;
    -webkit-align-items: center;

    display: flex;
    align-items: center;

    .ophelia-box,
    .login-box {
        position: absolute;
    }

    .login-box {
        .transition(opacity .5s ease);
        width: (@login-jumbotron-width - @jumbotron-padding * 4) / 2;
        opacity: 0;
        right: @jumbotron-padding * 2;
        top: 80px;

        @media (max-width: @screen-xs-max) {
            opacity: 1;
        }
    }

    .ophelia-box {
        .transition(width .5s ease);
        width: @login-jumbotron-width - @jumbotron-padding * 4;
        left: @jumbotron-padding * 2;
        top: 50px;
        text-align: center;

        @media (max-width: @screen-xs-max) {
            display: none;
        }
    }

    input[name=login] {
        width: 240px;
        margin-bottom: 10px;
    }

    input[name=password] {
        float: left;
        width: 175px;
    }

    button[type=submit] {
        width: 55px;
        float: right;
    }

    .loaded {
        &.login-box {
            opacity: 1;
        }

        &.ophelia-box {
            width: (@login-jumbotron-width - @jumbotron-padding * 4) / 2 - @jumbotron-padding;
        }
    }

    .transition(opacity .5s ease);

    &.logged-in {
        opacity: 0;
    }
}
