/config/*
/docs/_build/*
/virtualenv/*
/build/*
/public_static/styles/*.css
/public_static/styles/*/*.css
/opmuse.db
/opmuse.db-journal
*.pyc
/opmuse/test/opmuse.db
/cache/*
/log/*
/sample_library/opmuse.txt
/docs/_static/bootswatch-3.1.0/opmuse/bootstrap.min.css
