/config/*
/docs/_build/*
/virtualenv/*
/build/*
/public_static/*
/node_modules/*
/opmuse.db
/opmuse.db-journal
*.pyc
/opmuse/test/opmuse.db
/cache/*
/log/*
/sample_library/*
*.deb
*.tar.gz
*.egg-info
/yarn-error.log
/webpack-asset-entries.js
