[submodule "vendor/requirejs"]
	path = vendor/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "vendor/less.js"]
	path = vendor/less.js
	url = git://github.com/cloudhead/less.js.git
[submodule "vendor/requirejs-domReady"]
	path = vendor/requirejs-domReady
	url = git://github.com/requirejs/domReady.git
[submodule "vendor/twitter-bootstrap"]
	path = vendor/twitter-bootstrap
	url = https://github.com/twitter/bootstrap
[submodule "vendor/watchr"]
	path = vendor/watchr
	url = https://github.com/mynyml/watchr.git
[submodule "vendor/jQuery-File-Upload"]
	path = vendor/jQuery-File-Upload
	url = git://github.com/blueimp/jQuery-File-Upload.git
[submodule "vendor/Font-Awesome"]
	path = vendor/Font-Awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
