[submodule "vendor/requirejs"]
	path = vendor/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "vendor/less.js"]
	path = vendor/less.js
	url = git://github.com/cloudhead/less.js.git
[submodule "vendor/requirejs-domReady"]
	path = vendor/requirejs-domReady
	url = git://github.com/requirejs/domReady.git
[submodule "vendor/twitter-bootstrap"]
	path = vendor/twitter-bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "vendor/jQuery-File-Upload"]
	path = vendor/jQuery-File-Upload
	url = git://github.com/blueimp/jQuery-File-Upload.git
[submodule "vendor/Font-Awesome"]
	path = vendor/Font-Awesome
	url = git://github.com/FortAwesome/Font-Awesome.git
[submodule "vendor/momentjs"]
	path = vendor/momentjs
	url = git://github.com/timrwood/moment.git
[submodule "vendor/nanoScrollerJS"]
	path = vendor/nanoScrollerJS
	url = https://github.com/jamesflorentino/nanoScrollerJS.git
[submodule "vendor/Blur.js-II"]
	path = vendor/Blur.js-II
	url = git://github.com/jakiestfu/Blur.js-II.git
[submodule "vendor/matchMedia.js"]
	path = vendor/matchMedia.js
	url = git://github.com/paulirish/matchMedia.js.git
[submodule "vendor/typeahead.js"]
	path = vendor/typeahead.js
	url = https://github.com/twitter/typeahead.js/
[submodule "vendor/typeahead.js-bootstrap.css"]
	path = vendor/typeahead.js-bootstrap.css
	url = https://github.com/fredkelly/typeahead.js-bootstrap.css.git
[submodule "vendor/Effeckt.css"]
	path = vendor/Effeckt.css
	url = https://github.com/h5bp/Effeckt.css.git
