# vim: ft=conf
CherryPy >=3.7.0,<3.8
SQLAlchemy >=1.0,<1.1
whoosh ==2.4.1
mutagen >=1.28,<1.29
rarfile >=2.6,<2.7
ws4py >=0.3.2,<0.4
Unidecode >=0.04.13,<0.05
musicbrainzngs >=0.5,<0.6
pycountry >=1.10,<1.11
watchdog >=0.7.1,<0.8
deluge-client >=1.0,<1.1
sphinx_bootstrap_theme ==0.4.5
