CherryPy==3.2.4
Jinja2==2.6
MarkupSafe==0.15
ply==3.4
SQLAlchemy==0.8.2
mmh3==2.2
repoze.who==2.2
pylast==0.5.11
Whoosh==2.5.4
vendor/mutagen-py3.tar.bz2
rarfile==2.6
ws4py==0.3.0-beta
Unidecode==0.04.13
vendor/discogs_client.tar.bz2
