# opmuse deps
CherryPy >=3.3.0,<3.4
Jinja2 >=2.7.1,<2.8
SQLAlchemy >=0.9.1,<0.10
mmh3 >=2.2
repoze.who ==2.2
Whoosh >=2.5.4,<2.6
mutagenx ==1.23
rarfile ==2.6
ws4py >=0.3.2,<0.4
wsaccel >=0.6.2,<0.7
Unidecode >=0.04.13,<0.05
alembic >=0.6.5,<0.7
musicbrainzngs >=0.5,<0.6
pycountry ==1.6
watchdog >=0.7.1,<0.8
SQLAlchemy-Utils >=0.26,<0.27
# Jinja2 deps
MarkupSafe >=0.18,<0.24
# repoze.who deps
WebOb >=1.4,<1.5
zope.interface >=4.0.5,<4.1
# alembic deps
Mako >=0.8.1
# watchdog deps
PyYAML ==3.10
argh >=0.24.1,<0.25
pathtools >=0.1.2,<0.2
# SQLAlchemy-Utils deps
six >=1.6.1
