#  vim: ft=conf
#
# don't forget about scripts/build-debs.sh when updating this file.
# also, don't forget about readthedocs-requirements.txt
#
# opmuse deps
CherryPy >=5.0,<5.1
Jinja2 >=2.8,<2.9
SQLAlchemy >=1.0,<1.1
mmh3 >=2.2
whoosh >=2.7,<2.8
mutagen >=1.31,<1.32
rarfile >=2.7,<2.8
ws4py >=0.3.2,<0.4
wsaccel >=0.6.2,<0.7
Unidecode >=0.04.13,<0.05
alembic >=0.8,<0.9
musicbrainzngs >=0.5,<0.6
pycountry >=1.0,<2.0
watchdog >=0.8,<0.9
deluge-client >=1.0,<1.1
croniter >=0.3,<0.4
# Jinja2 deps
MarkupSafe >=0.18,<0.24
# alembic deps
Mako >=0.8.1
python-editor >=0.3
# watchdog deps
argh >=0.24.1
pathtools >=0.1.2,<0.2
