<div class="album-container">
    <div class="album {{ 'invalid' if album.invalid else '' }}">
        <div class="album-badges">
            {% if album.invalid %}
            <p class="album-invalid badge badge-important">invalid</p>
            {% endif %}
            {% if album.date %}
            <p class="album-date badge badge-inverse">released {{ album.date }}</p>
            {% endif %}
            <p class="album-track-count badge badge-inverse">has {{ album.tracks|count }}</p>
            <p class="album-track-count badge badge-inverse">plays {{ album.duration|format_seconds }}</p>
            <p class="album-track-count badge badge-inverse">added {{ album.added|pretty_date }}</p>
        </div>
        <a
            class="queue add-album btn btn-small btn-success"
            href="/queue/add_album/{{ album.slug|urlencode }}">
            Queue
        </a>
        <a href="/{{ album.artists[0].slug if not artist else artist.slug }}/{{ album.slug }}">
            {% include "partials/album-cover.html" %}
        </a>
        <div class="album-desc">
            <h3 class="album-name">
                {{ album.name }}
            </h3>
            {% if not artist %}
            <p>
                by {{ album.artists[0].name }}
            </p>
            {% endif %}
        </div>
    </div>
</div>
