<div class="album-container">
    <div class="album {{ 'invalid' if album.invalid else '' }}">
        <div class="album-badges">
            {% if album.date %}
            <p class="album-date badge badge-inverse">{{ album.date }}</p>
            {% endif %}
            <p class="album-track-count badge badge-inverse">{{ album.tracks|count }} tracks</p>
            <p class="album-track-count badge badge-inverse">{{ album.duration|format_seconds }}</p>
            <p class="album-track-count badge badge-inverse">{{ album.added|pretty_date }}</p>
        </div>
        <div class="album-badges bottom">
            {% if album.invalid %}
            <p class="album-invalid badge badge-important">invalid</p>
            {% endif %}
            {% if album.artists|length > 1 %}
            <p class="album-va badge badge-success">VA</p>
            {% endif %}
        </div>
        <a
            class="queue add add-album btn btn-small btn-success"
                href="/queue/add/
                    {%- for track in album.tracks -%}
                        {{ track.id }},
                    {%- endfor -%}
                ">
            Queue
        </a>
        <a href="/{{ album.artists[0].slug|urlencode if not artist else artist.slug|urlencode }}/{{ album.slug|urlencode }}">
            {% include "partials/album-cover.html" %}
        </a>
        <div class="album-desc">
            <h3 class="album-name">
                {{ album.name }}
            </h3>
            <p title="{% include "partials/album-desc.html"|e %}">
                {% include "partials/album-desc.html" %}
            </p>
        </div>
    </div>
</div>
