{% if not cover_size %}
    {% set cover_size = 220 %}
{% endif %}

{% if not cover_class %}
    {% set cover_class = "img-polaroid" %}
{% endif %}

<img width="{{ cover_size }}" height="{{ cover_size }}"
    src="/cover/album/{{ album.slug|urlencode }}
        {%- if album.cover_hash -%}
            {{ "?hash=%s" % album.cover_hash.decode('utf8')|urlencode }}
        {# here we kind of sloppily assume that if there was no cover_hash on album
           it will be using the first artists cover... #}
        {%- elif album.artists[0].cover_hash -%}
            {{ "?hash=%s" % album.artists[0].cover_hash.decode('utf8')|urlencode }}
        {%- endif -%}"
    alt="Album cover" class="album-cover {{ cover_class }}" />

