{% if not cover_size %}
    {% set cover_size = 220 %}
{% endif %}

{% if not cover_class %}
    {% set cover_class = "img-polaroid" %}
{% endif %}

<img width="{{ cover_size }}" height="{{ cover_size }}"
    src="/cover/album/{{ album.slug|urlencode }}
        {%- if album.cover_hash -%}
            {{ "?hash=%s" % album.cover_hash.decode('utf8')|urlencode }}
        {%- else -%}
            {{ "?hash=%s" % ('invalid' if album.invalid else 'valid') }}
        {%- endif -%}"
    alt="Album cover" class="album-cover {{ cover_class }}" />

