{% import "macros/urls.html" as urls %}

{% macro print_artists(artists, print_by) %}
    {% if print_by %}
        {% if artists|length > 1 %}
            with
        {% else %}
            by
        {% endif %}
    {% endif %}
    {% for artist in artists %}
        {%- if artists|length > 1 and loop.last %}
        and
        {% elif not loop.first -%}
        ,
        {% endif %}
        <a href="{{ urls.artist_url(artist) }}">{{ artist.name|show_ws }}</a>
    {%- endfor %}
{% endmacro %}

{% macro print_articles_nav(type, remotes, index) %}
    {% if remotes %}
        {% if remotes.wikipedia|count > 0 %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {{ type }} on Wikipedia <span class="fa fa-caret-down"></span>
            </a>
            <ul class="dropdown-menu">
                {% for wikipedia in remotes.wikipedia %}
                    {% set title = wikipedia.title ~ (" | " ~ wikipedia.language if wikipedia.language != 'en' else '') %}
                    <li data-toggle="tab">
                        <a title="{{ title }}" href="#wikipediatab_{{ index }}_{{ loop.index }}">
                            {{ title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% if remotes.lastfm and 'bio' in remotes.lastfm and remotes.lastfm.bio %}
            <li data-toggle="tab">
                <a href="#lastfmtab_{{ index }}">{{ type }} on last.fm</a>
            </li>
        {% endif %}
        {% if 'google' in remotes and remotes.google and remotes.google|count > 0 %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {{ type }} on Google <span class="fa fa-caret-down"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for hit in remotes.google %}
                        <li data-toggle="tab">
                            <a title="{{ hit.title }}" href="#googletab_{{ index }}_{{ loop.index }}">
                                {{ hit.title }} | {{ hit.visible_url }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro print_articles_content(remotes, index) %}
    {% if remotes %}
        {% if remotes.wikipedia|count > 0 %}
            {% for wikipedia in remotes.wikipedia %}
                <div class="tab-pane" id="wikipediatab_{{ index }}_{{ loop.index }}">
                    <div class="wikipedia-content">
                    {% if album is defined and album %}
                        {{ covers.album_large(album) }}
                    {% elif artists %}
                        {{ covers.artist_large(artists[0]) }}
                    {% endif %}
                    {{ wikipedia.summary }}
                    </div>
                    <p class="wikipedia-footer">
                        ... continue reading at
                        <a href="{{ wikipedia.url }}">
                            {{ wikipedia.title }}
                            {% if wikipedia.language != 'en' %}
                                | {{ wikipedia.language }}
                            {% endif %}
                        </a>.
                    </p>
                    {% if wikipedia.language != "en" %}
                        <p class="wikipedia-footer wikipedia-footer-sub">
                            ... and try your luck on
                            <a href='http://translate.google.com/translate?u={{ wikipedia.url|urlencode }}'>
                                Google Translate
                            </a>
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        {% if remotes.lastfm and 'bio' in remotes.lastfm and remotes.lastfm.bio %}
            <div class="tab-pane" id="lastfmtab_{{ index }}">
                <div class="lastfm-content">
                    {% if album is defined and album %}
                        {{ covers.album_large(album) }}
                    {% elif artists %}
                        {{ covers.artist_large(artists[0]) }}
                    {% endif %}
                    {{ remotes.lastfm.bio|nl2p }}
                </div>
            </div>
        {% endif %}
        {% if 'google' in remotes and remotes.google and remotes.google|count > 0 %}
            {% for hit in remotes.google %}
                <div class="tab-pane" id="googletab_{{ index }}_{{ loop.index }}">
                    <div class="google-content">
                        {% if album is defined and album %}
                            {{ covers.album_large(album) }}
                        {% elif artists %}
                            {{ covers.artist_large(artists[0]) }}
                        {% endif %}
                        <p>
                            {{ hit.content }}
                        </p>
                    </div>
                    <p class="google-footer">
                        ... continue reading at <a href="{{ hit.url }}">
                            {{ hit.title }} | {{ hit.visible_url }}
                        </a>.
                    </p>
                    <p class="google-footer google-footer-sub">
                        ... and try your luck on
                        <a href='http://translate.google.com/translate?u={{ hit.url|urlencode }}'>
                            Google Translate
                        </a>
                    </p>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro print_articles(remotes_artist, remotes_album = None, remotes_track = None) %}
    {% if not remotes_artist and not remotes_album and not remotes_track %}
        {% if album %}
            {{ covers.album_large(album) }}
        {% elif artists %}
            {{ covers.artist_large(artists[0]) }}
        {% endif %}
    {% else %}
        <div class="tab-content">
            {{ print_articles_content(remotes_track, 0) }}
            {{ print_articles_content(remotes_album, 1) }}
            {{ print_articles_content(remotes_artist, 2) }}
        </div>
        <ul class="nav nav-pills nav-pills-sm">
            {{ print_articles_nav("Track", remotes_track, 0) }}
            {{ print_articles_nav("Album", remotes_album, 1) }}
            {{ print_articles_nav("Artist", remotes_artist, 2) }}
        </ul>
    {% endif %}
{% endmacro %}

{% import "macros/covers.html" as covers %}

{% if same_artists is defined and same_artists|length > 0 %}
    <p class="alert alert-info">
        {% for artist in same_artists %}
            <a href="{{ urls.artist_url(artist) }}">{{ artist.name|show_ws }}</a>
            {%- if same_artists|length > 2 and loop.index == same_artists|length - 1 %}
            and
            {%- elif not loop.last -%}
            ,
            {% endif %}
        {% endfor %}
        looks like
        {% if same_artists|length == 1 %}
            it
        {% else %}
            they 
        {% endif %}
        might be the same artist as this one? If so, please correct
        {% if same_artists|length == 1 %}
            its
        {% else %}
            their
        {% endif %}
        tags.
    </p>
{% endif %}

<div class="artist-head">
    <div class="row">
        <div class="col-xs-12">
            <h2>
                {% if track is defined and track %}
                    <a href="/library/track/{{ track.slug|urlencode }}">{{ track.name|show_ws }}</a>
                {% elif album is defined and album %}
                    <a href="{{ urls.album_url(album) }}">{{ album.name|show_ws }}</a>
                    {% if album.date %}
                        <span class="date">{{ album.date }}</span>
                    {% endif %}
                {% else %}
                    {{ print_artists(artists, false) }}
                {% endif %}
                <small>
                    {% if track is defined and track %}
                        track
                        {% if artists and artists|length > 0 %}
                            {{ print_artists(artists, true) }}
                        {% endif %}
                        {% if album %}
                            on album <a href="{{ urls.album_url(album) }}">{{ album.name|show_ws }}</a>
                        {% endif %}
                        - {{ track.duration|format_seconds }} long, added {{ track.added|pretty_date }}
                    {% elif album is defined and album %}
                        album
                        {% if artists and artists|length > 0 %}
                            {{ print_artists(artists, true) }}
                        {% endif %}
                        - {{ album.tracks|length }} tracks, {{ album.duration|format_seconds }} long, added {{ album.added|pretty_date }}
                    {% else %}
                        artist - {{ artist.album_count }} albums, {{ artist.va_count }} VAs, added {{ artist.added|pretty_date }}
                    {% endif %}
                    {% if is_granted('admin') %}
                        {% if album is defined and album %}
                            <a class="remove-cover btn btn-default btn-sm"
                                href="/cover_refresh/album/{{ album.slug|urlencode }}">
                                <i class="fa fa-refresh"></i>
                            </a>
                        {% elif artists %}
                            <a class="remove-cover btn btn-default btn-sm"
                                href="/cover_refresh/artist/{{ artists[0].slug|urlencode }}">
                                <i class="fa fa-refresh"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                </small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% if artist is defined and artist %}
                <div class="remotes remotes_artist_head_{{ artist.id }}">
                    {{ print_articles(remotes_artist) }}
                </div>
            {% elif album is defined and album %}
                <div class="remotes remotes_album_head_{{ album.id }}">
                    {{ print_articles(remotes_artists[0] if remotes_artists is defined and remotes_artists|count > 0 else None, remotes_album) }}
                </div>
            {% elif track is defined and track %}
                <div class="remotes remotes_track_head_{{ track.id }}">
                    {{ print_articles(remotes_artist, remotes_album, remotes_track) }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
