{% import "macros/covers.html" as covers %}

<div class="artist-container">
    <div class="artist {{ 'invalid' if artist.invalid else '' }}">
        <a href="/{{ artist.slug|urlencode }}">
            {{ covers.artist(artist) }}
        </a>
        <div class="artist-badges">
            {% if artist.album_count %}
                <p class="artist-album-count badge badge-inverse">
                    {{ artist.album_count }} albums
                </p>
            {% endif %}
            {% if artist.va_count %}
                <p class="artist-album-count badge badge-inverse">
                    {{ artist.va_count }} VAs
                </p>
            {% endif %}
            <p class="artist-added badge badge-inverse">{{ artist.added|pretty_date }}</p>
        </div>
        <div class="artist-badges bottom">
            {% if artist.invalid %}
            <p class="artist-invalid badge badge-important" title="This artist has invalid tracks.">
                <i class="icon-warning-sign"></i>
            </p>
            {% endif %}
        </div>
        <div class="artist-desc">
            <h3 class="artist-name">
                {{ artist.name|show_ws }}
            </h3>
        </div>
    </div>
</div>

