{% import "macros/covers.html" as covers %}

<div class="artist">
    <figure class="effeckt-caption" data-effeckt-type="effeckt-caption-13">
        <a href="/{{ artist.slug|urlencode }}">
            {{ covers.artist(artist) }}
        </a>
        <figcaption>
            <div class="effeckt-figcaption-wrap">
                <div class="left">
                    <dl>
                        <dt>Albums</dt>
                        <dd>{{ artist.album_count }}</dd>
                    </dl>
                    <dl>
                        <dt>VAs</dt>
                        <dd>{{ artist.va_count }}</dd>
                    </dl>
                    <dl>
                        <dt>Added</dt>
                        <dd>{{ artist.added|pretty_date }}</dd>
                    </dl>
                </div>
                <div class="right">
                    {% if artist.invalid %}
                        <div class="labels">
                            <p class="artist-invalid label label-danger"
                                title="This artist has invalid tracks.">
                                <i class="icon-warning-sign"></i>
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </figcaption>
    </figure>
    <div class="artist-desc">
        <h3 class="artist-name">
            {{ artist.name|show_ws }}
        </h3>
    </div>
</div>

