{% import "macros/urls.html" as urls %}

{% macro print_listened_tuples(listened_tuples) %}
    {% for user, timestamp in listened_tuples %}
        <a href="/users/{{ user.login }}">
            <img src="{{ user.gravatar_xsmall }}"
                class="img-rounded" alt="{{ user.login }}'s Gravatar"
                title="{{ user.login }} listened" />
        </a>
        {{ user.login }} {{ timestamp|pretty_date }}
    {% endfor %}
{% endmacro %}

<div class="artist-nav hidden-xs">
    {% if artists %}
        {% for artist in artists %}
            <div class="reloader remotes_artist_nav_{{ artist.id }}">
                {% set remotes_artist = remotes_artists[loop.index0] %}
                <div class="sidebar-nav panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-microphone"></i> |
                            {{ artist.name }}
                            {% if remotes_artist is defined and remotes_artist and remotes_artist.musicbrainz and
                                remotes_artist.musicbrainz.country %}
                                <img class="country-icon" title="{{ remotes_artist.musicbrainz.country|country }}"
                                    src="/static/images/country-icons/{{ remotes_artist.musicbrainz.country|lower }}.png">
                            {% endif %}
                        </h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            updated {{ artist.updated|pretty_date }},
                            created {{ artist.created|pretty_date }}<br>
                            {{ artist.album_count }} albums, {{ artist.va_count }} VAs
                        </li>
                        <li class="list-group-item">
                            Artist on
                            {% if remotes_artist is defined and remotes_artist and remotes_artist.musicbrainz and
                                'official homepage' in remotes_artist.musicbrainz.urls and remotes_artist.musicbrainz.urls['official homepage'] %}
                                <a href="{{ remotes_artist.musicbrainz.urls['official homepage'][0] }}">Official</a>,
                            {% endif %}
                            {% if remotes_artist is defined and remotes_artist %}
                                {% if remotes_artist.lastfm and remotes_artist.lastfm.url %}
                                    <a href="{{ remotes_artist.lastfm.url }}">Lastfm</a>,
                                {% endif %}
                            {% endif %}
                            {% if remotes_artist is defined and remotes_artist and remotes_artist.musicbrainz %}
                                <a href="http://musicbrainz.org/artist/{{ remotes_artist.musicbrainz.id }}">Musicbrainz</a>,
                            {% endif %}
                            {% if remotes_artist is defined and remotes_artist and remotes_artist.musicbrainz and
                                'discogs' in remotes_artist.musicbrainz.urls and remotes_artist.musicbrainz.urls.discogs %}
                                <a href="{{ remotes_artist.musicbrainz.urls.discogs[0] }}">Discogs</a>,
                            {% else %}
                                <a href="http://www.discogs.com/search?q={{ artist.name |urlencode }}&type=artist">
                                    Discogs</a>,
                            {% endif %}
                            <a href="https://rateyourmusic.com/search?searchtype=a&searchterm={{ artist.name|urlencode }}"
                                title="Rate Your Music">RYM</a>,
                            <a href='http://www.google.com/search?q={{ '"' ~ artist.name|urlencode ~ '"' }}'>
                                Google</a>,
                            <a href='http://translate.google.com/#auto/en/{{ artist.name|urlencode }}'>
                                Google Translate</a>.
                        </li>
                        {% if remotes_artist is defined and remotes_artist and remotes_artist.lastfm %}
                            <li class="list-group-item">
                                <strong>{{ remotes_artist.lastfm.listeners|format_number }}</strong> Lastfm Listeners
                            </li>
                        {% endif %}
                        {% if remotes_user is defined and remotes_user and remotes_user.lastfm and remotes_user.lastfm.artists and
                            artist.name.lower() in remotes_user.lastfm.artists %}
                            <li class="list-group-item">
                                <strong>{{ remotes_user.lastfm.artists[artist.name.lower()].playcount|format_number }}</strong>
                                Lastfm Plays by <a href="/users/{{ user.login }}">{{ user.login }}</a>.
                            </li>
                        {% endif %}
                        {% if remotes_artist is defined and remotes_artist and remotes_artist.lastfm and remotes_artist.lastfm.tags|count > 0 %}
                            <li class="list-group-item">
                                {% for tag in remotes_artist.lastfm.tags %}
                                <span class="tag label label-primary" title="Lastfm tag, {{ tag }}">
                                    <a href="/library/artists?filter=tag&filter_value={{ tag|urlencode }}">{{ tag }}</a>
                                </span>
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if remotes_artist is defined and remotes_artist and remotes_artist.lastfm and remotes_artist.lastfm.similar|count > 0 %}
                            <li class="list-group-item">
                                {% for similar in remotes_artist.lastfm.similar %}
                                    <span class="label label-primary" title="Lastfm similar, {{ similar.name }}">
                                        <a href="/{{ similar.slug|urlencode }}">{{ similar.name }}</a>
                                    </span>
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if artist_listened_tuples %}
                            <li class="list-group-item listened_tracks">
                                {{ print_listened_tuples(artist_listened_tuples) }}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if album is defined and album %}
        <hr>
        <div class="reloader remotes_album_nav_{{ album.id }}">
            <div class="sidebar-nav panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-volume-up"></i> |
                        {{ album.name }}
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        {% if album.created_user %}
                            upload by <a href="/users/{{ album.created_user.login }}">{{ album.created_user.login }}</a><br>
                        {% endif %}
                        updated {{ album.updated|pretty_date }},
                        created {{ album.created|pretty_date }}<br>
                        {{ album.tracks|length }} tracks,
                        {{ album.duration|format_seconds }} long<br>
                    </li>
                    <li class="list-group-item">
                        Album on
                        {%- if remotes_album -%}
                            {% if remotes_album.lastfm and remotes_album.lastfm.url %}
                                <a href="{{ remotes_album.lastfm.url }}">Lastfm</a>,
                            {% endif %}
                        {% endif %}
                        {% if remotes_album is defined and remotes_album and remotes_album.musicbrainz %}
                            <a href="http://musicbrainz.org/release/{{ remotes_album.musicbrainz.id }}">Musicbrainz</a>,
                        {% endif %}
                        {% if remotes_album is defined and remotes_album and remotes_album.musicbrainz and
                            'discogs' in remotes_album.musicbrainz.urls and remotes_album.musicbrainz.urls.discogs %}
                            <a href="{{ remotes_album.musicbrainz.urls.discogs[0] }}">Discogs</a>,
                        {% else %}
                            <a href="http://www.discogs.com/search?q={{ album.name|urlencode }}&type=release">
                                Discogs</a>,
                        {% endif %}
                        <a href="https://rateyourmusic.com/search?searchtype=l&searchterm={{ album.name|urlencode }}"
                            title="Rate Your Music">RYM</a>,
                        <a href='http://www.google.com/search?q="{{ album.name|urlencode }}"'>
                            Google</a>,
                        <a href='http://translate.google.com/#auto/en/{{ album.name|urlencode }}'>
                            Google Translate</a>.
                    </li>
                    {% if remotes_album %}
                        <li class="list-group-item">
                            {% if remotes_album.lastfm and remotes_album.lastfm.listeners %}
                                <strong>{{ remotes_album.lastfm.listeners|format_number }}</strong> Lastfm Listeners
                            {% endif %}
                        </li>
                    {% endif %}
                    {% if remotes_album and remotes_album.lastfm and remotes_album.lastfm.tags %}
                        <li class="list-group-item">
                            {% for tag in remotes_album.lastfm.tags %}
                            <span class="tag label label-primary" title="Lastfm tag, {{ tag }}">
                                <a href="/library/albums?filter=tag&filter_value={{ tag|urlencode }}">{{ tag }}</a>
                            </span>
                            {% endfor %}
                        </li>
                    {% endif %}
                    {% if album_listened_tuples %}
                        <li class="list-group-item listened_tracks">
                            {{ print_listened_tuples(album_listened_tuples) }}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% if track is defined and track %}
        <hr>
        <div class="reloader remotes_track_nav_{{ track.id }}">
            <div class="sidebar-nav panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-music"></i> |
                        {{ track.name }}
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        {% if track.created_user %}
                            upload by <a href="/users/{{ track.created_user.login }}">{{ track.created_user.login }}</a><br>
                        {% endif %}
                        updated {{ track.updated|pretty_date }},
                        created {{ track.created|pretty_date }}<br>
                        {{ track.duration|format_seconds }} long
                    </li>
                    <li class="list-group-item">
                        Track on
                        {%- if remotes_track -%}
                            {% if remotes_track.lastfm and remotes_track.lastfm.url %}
                                <a href="{{ remotes_track.lastfm.url }}">Lastfm</a>,
                            {% endif %}
                        {% endif %}
                        <a href='http://www.google.com/search?q="{{
                                (track.artist.name ~ " " ~ track.name if track.artist else track.name)|urlencode }}"'>
                            Google</a>,
                        <a href='http://translate.google.com/#auto/en/{{ track.name|urlencode }}'>
                            Google Translate</a>.
                    </li>
                    {% if remotes_track and remotes_track.lastfm and remotes_track.lastfm.listeners %}
                        <li class="list-group-item">
                            <strong>{{ remotes_track.lastfm.listeners|format_number }}</strong> Lastfm Listeners
                        </li>
                    {% endif %}
                    {% if remotes_track and remotes_track.lastfm and remotes_track.lastfm.tags %}
                        <li class="list-group-item">
                            {% for tag in remotes_track.lastfm.tags %}
                            <span class="tag label label-primary" title="Lastfm tag, {{ tag }}">
                                {# TODO we have no tag filter for tracks yet... #}
                                <a href="/library/albums?filter=tag&filter_value={{ tag|urlencode }}">{{ tag }}</a>
                            </span>
                            {% endfor %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>
