<ul class="row-fluid artist-head">
    {% if album %}
    <li class="span4">
    {% else %}
    <li class="span8">
    {% endif %}
        <h3><a href="/{{ artist.slug }}">{{ artist.name }}</a></h3>
        {% if lastfm_artist and lastfm_artist.bio %}
            <p>
                {{ lastfm_artist.bio }}
            </p>
            {% for tag in lastfm_artist.tags %}
                <span class="tag badge badge-success">{{ tag }}</span>
            {% endfor %}
        {% endif %}
    </li>
    {% if album %}
    <li class="span4">
        <h3><a href="/{{ artist.slug }}/{{ album.slug }}">{{ album.name }}</a></h3>
        {% if lastfm_album and lastfm_album.wiki %}
            <p>
                {{ lastfm_album.wiki }}
            </p>
        {% endif %}
    </li>
    {% endif %}
    <li class="span4">
        {% if album %}
            {% include "partials/album-cover.html" %}
        {% else %}
            {% include "partials/artist-cover.html" %}
        {% endif %}
    </li>
</ul>


