{% import "macros/urls.html" as urls %}

<div class="artist-nav">
    {% if album is defined and album%}
        <div class="remotes remotes_album_nav_{{ album.id }}">
            <div class="sidebar-nav panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ album.name }}</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                    {%- if remotes_album -%}
                        {% if remotes_album.lastfm.url %}
                            <a href="{{ remotes_album.lastfm.url }}">on Lastfm</a>,
                        {% endif %}
                    {% endif %}
                        <a href="http://www.discogs.com/search?q={{ album.name|urlencode }}&type=release">
                            on Discogs</a>,
                        <a href='http://www.google.com/search?q="{{ album.name|urlencode }}"'>
                            on Google</a>,
                        <a href='http://translate.google.com/#auto/en/{{ album.name|urlencode }}'>
                            on Google Translate</a>
                    <li class="list-group-item">
                        {% if remotes_album %}
                            {% if remotes_album.lastfm.listeners %}
                                <strong>{{ remotes_album.lastfm.listeners|format_number }}</strong> Lastfm Listeners
                            {% endif %}
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        {% if remotes_album %}
                            {% for tag in remotes_album.lastfm.tags %}
                            <span class="tag label label-primary" title="Lastfm tag, {{ tag }}">
                                <a href="/library/albums?filter=tag&filter_value={{ tag|urlencode }}">{{ tag }}</a>
                            </span>
                            {% endfor %}
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}
    {% if artists %}
        {% for artist in artists %}
            <div class="remotes remotes_artist_nav_{{ artist.id }}">
                {% set remotes_artist = remotes_artists[loop.index0] %}
                <div class="sidebar-nav panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ artist.name }}</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                        {% if remotes_artist is defined and remotes_artist %}
                            {% if remotes_artist.lastfm.url %}
                                <a href="{{ remotes_artist.lastfm.url }}">on Lastfm</a>,
                            {% endif %}
                        {% endif %}
                        <a href="http://www.discogs.com/search?q={{ artist.name |urlencode }}&type=artist">
                            on Discogs</a>,
                        <a href='http://www.google.com/search?q={{ '"' ~ artist.name|urlencode ~ '"' }}'>
                            on Google</a>,
                        <a href='http://translate.google.com/#auto/en/{{ artist.name|urlencode }}'>
                            on Google Translate</a>
                        </li>
                        {%- if album is defined and album -%}
                        <li class="list-group-item">
                            Album
                            <a href="http://www.discogs.com/search?q={{ "artist:'" ~
                                artist.name|urlencode ~ "' " ~ album.name|urlencode }}&type=release">
                                on Discogs</a>,
                            <a href='http://www.google.com/search?q={{ '"' ~ artist.name|urlencode ~ '" "' ~ album.name|urlencode ~ '"' }}'>
                                on Google</a>
                        </li>
                        {% endif %}
                        <li class="list-group-item">
                            {% if remotes_artist %}
                                {% if remotes_artist.lastfm.listeners %}
                                    <strong>{{ remotes_artist.lastfm.listeners|format_number }}</strong> Lastfm Listeners
                                {% endif %}
                            {% endif %}
                        </li>
                        {% if remotes_artist and remotes_artist.lastfm.tags|count > 0 %}
                            <li class="list-group-item">
                                {% for tag in remotes_artist.lastfm.tags %}
                                <span class="tag label label-primary" title="Lastfm tag, {{ tag }}">
                                    <a href="/library/artists?filter=tag&filter_value={{ tag|urlencode }}">{{ tag }}</a>
                                </span>
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if remotes_artist and remotes_artist.lastfm.similar|count > 0 %}
                            <li class="list-group-item">
                                {% for similar in remotes_artist.lastfm.similar %}
                                    <span class="label label-primary" title="Lastfm similar, {{ similar.name }}">
                                        <a href="/{{ similar.slug|urlencode }}">{{ similar.name }}</a>
                                    </span>
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if remotes_artist and remotes_artist.discogs.aliases|count > 0 %}
                            <li class="list-group-item">
                                {% for alias in remotes_artist.discogs.aliases %}
                                    <span class="label label-primary" title="Discog Alias, {{ alias }}">
                                        <a href="/search/{{ alias|urlencode }}/artist">{{ alias }}</a>
                                    </span>
                                {% endfor %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
