<ul class="nav nav-tabs">
    <li class="{{ "active" if request.path_info|startswith("/library/album") }}">
        <a href="/library/albums/new">Albums</a>
    </li>
    <li class="{{ "active" if request.path_info|startswith("/library/artist") }}">
        <a href="/library/artists/new">Artists</a>
    </li>
    <li class="{{ "active" if request.path_info|startswith("/library/track") }}">
        <a href="/library/tracks/new">Tracks</a>
    </li>
    <li class="{{ "active" if request.path_info|startswith("/library/upload") }}">
        <a href="/library/upload">Upload</a>
    </li>
    <li class="{{ "active" if request.path_info|startswith("/library/edit") }}">
        <a href="/library/edit">Edit</a>
    </li>
</ul>

