<ul class="nav">
    <li class="{{ "active" if request.path_info|startswith("/library/album") }}">
        <a href="/library/albums">Albums</a>
    </li>
    <li class="{{ "active" if request.path_info|startswith("/library/artist") }}">
        <a href="/library/artists">Artists</a>
    </li>
    <li class="{{ "active" if request.path_info|startswith("/library/track") }}">
        <a href="/library/tracks">Tracks</a>
    </li>
    <li class="{{ "active" if request.path_info|startswith("/library/upload") }}">
        <a href="/library/upload">Upload</a>
    </li>
    <li class="{{ "active" if request.path_info|startswith("/library/search") }}">
        <a href="#">Search</a>
    </li>
    <li class="{{ "active" if request.path_info|startswith("/library/edit") }}">
        <a href="#">Edit</a>
    </li>
</ul>

