<form method="post" action="/login?{{ request.query_string }}">
    <p class="input-group">
        <span class="input-group-addon"><i class="icon-user"></i></span>
        <input type="text" name="login" placeholder="Username" class="form-control input-lg" />
    </p>
    <p class="input-group">
        <span class="input-group-addon"><i class="icon-key"></i></span>
        <input type="password" name="password" placeholder="Password" class="form-control input-lg" />
    </p>
    <button class="btn btn-primary btn-block btn-lg" type="submit">
        <i class="icon-signin"></i>
        Sign in
    </button>
</form>
