<ol
    id="playlist-tracks"
    class="tracks">

    {% for playlist in playlists %}
        <li class="{{ "playing" if playlist.playing }}">
            <span class="artist-name">
                <a href="/artist/{{ playlist.track.album.artist.slug }}">
                    {{ playlist.track.album.artist.name }}
                </a>
            </span>
            <span class="album-name">
                <a href="/album/{{ playlist.track.album.slug }}">
                    {{ playlist.track.album.name }}
                </a>
            </span>
            <span class="track-name">
                <a href="/track/{{ playlist.track.slug }}">
                    {{ playlist.track.name }}
                </a>
            </span>
            <span class="track-duration">
                ( {{ playlist.track.duration|format_seconds }} )
            </span>
            <a
                class="remove"
                href="/playlist/remove/{{ playlist.track.slug }}">
                X
            </a>
        </li>
    {% endfor %}
</ol>

{% if playlists|count > 0 %}
    <a
        id="clear-playlist"
        href="/playlist/clear">
        Clear playlist</a>
{% endif %}
