<ol
    id="playlist-tracks"
    class="tracks">

    {% for playlist in playlists %}
        <li class="{{ "playing" if playlist.playing }}">
            <span class="artist-name">{{ playlist.track.album.artist.name }}</span>
            <span class="album-name">{{ playlist.track.album.name }}</span>
            <span class="track-name">{{ playlist.track.name }}</span>
            <span class="track-duration">
                ( {{ playlist.track.duration|format_seconds }} )
            </span>
            <a
                class="remove"
                href="/playlist/remove/{{ playlist.track.slug }}">
                X
            </a>
        </li>
    {% endfor %}
</ol>

{% if playlists|count > 0 %}
    <a
        id="clear-playlist"
        href="/playlist/clear">
        Clear playlist</a>
{% endif %}
