<ol
    id="queue-tracks"
    class="tracks">

    {% for queue in queues %}
        <li class="{{ "playing" if queue.playing }} {{ "played" if queue.played }}">
            <span class="text">
                <span class="artist-name">
                    <a href="/artist/{{ queue.track.artist.slug }}">
                        {{ queue.track.artist.name }}
                    </a>
                </span>
                <span class="album-name">
                    <a href="/album/{{ queue.track.artist.slug }}/{{ queue.track.album.slug }}">
                        {{ queue.track.album.name }}
                    </a>
                </span>
                <span class="track-name">
                    <a href="/track/{{ queue.track.slug }}">
                        {{ queue.track.name }}
                    </a>
                </span>
                <span class="track-duration">
                    {{ queue.track.duration|format_seconds }}
                </span>
            </span>
            <a
                class="remove"
                href="/queue/remove/{{ queue.track.slug }}">
                X
            </a>
        </li>
    {% endfor %}
</ol>

{% if queues|count > 0 %}
    <a
        id="clear-played-queue"
        href="/queue/clear/played">
        Clear played</a>
    <a
        id="clear-queue"
        href="/queue/clear">
        Clear queue</a>
{% endif %}
