{% if track.invalid == "dir" %}
<a href="#" class="invalid-track invalid-dir icon-folder-open" rel="popover"
    title="Folder doesn't match tags."
    data-trigger="hover"
    data-html="true"
    data-content="This track should be located <strong>{{ track|track_path|e }}</strong>. Do note that these names are case
    sensitive. <em>This does not affect the playability of this track!</em>">
</a>
{% elif track.invalid == "incomplete_tags" %}
<a href="#" class="invalid-track invalid-incomplete icon-tag" rel="popover"
    title="Required tags are missing."
    data-trigger="hover"
    data-html="true"
    data-content="This track is missing valid tags (ID3, Ogg tags etc) for artist, album and/or title. Use edit to set
    these properly. <em>This does not affect the playability of this track!</em>">
</a>
{% elif track.invalid == "broken_tags" %}
{# TODO find a better icon :/ #}
<a href="#" class="invalid-track invalid-broken icon-tags" rel="popover"
    title="Tags are broken."
    data-trigger="hover"
    data-html="true"
    data-content="This track has broken tags. These most likely needs to be fixed manually. <em>This probably does not
        affect the playability of this track!</em>">
</a>
{% else %}
    {{ track.invalid }}
{% endif %}
