{% import "macros/urls.html" as urls %}

<span class="text">
    {% if track.number %}
        <span class="track-number">{{ track.number }}</span>
    {% endif %}
    <span class="artist-name">
        {% if track.artist %}
        <a href="{{ urls.artist_url(track.artist) }}">
            {{ track.artist.name|show_ws }}
        </a>
        {% else %}
            N/A
        {% endif %}
    </span>
    <span class="album-name">
        {% if track.album %}
            <a href="{{ urls.album_url(track.album) }}">
                {{ track.album.name|show_ws }}
            </a>
        {% else %}
            N/A
        {% endif %}
    </span>
    <span class="track-name">
        <a href="/library/track/{{ track.slug|urlencode }}">
            {{ track.name|show_ws }}
        </a>
    </span>
    <span class="track-duration">
        {{ track.duration|format_seconds }}
    </span>
</span>
