<ul class="nav navbar-nav">
    <li class="{{ "active" if request.path_info|startswith("/users/user") else '' }}">
        <a href="/users/users">Users</a>
    </li>
    <li class="{{ "active" if request.path_info|startswith("/users/role") else '' }}">
        <a href="/users/roles">Roles</a>
    </li>
    {% if is_granted('admin') %}
        <li class="{{ "active" if request.path_info|startswith("/users/users/add") else '' }}">
            <a href="/users/users/add">Add User</a>
        </li>
    {% endif %}
</ul>
