{% import "macros/urls.html" as urls %}

{% macro album_header(info, html = true) %}
    {%- if info.artists|length == 1 -%}
        {%- if html -%}
            <a href="{{ urls.artist_url(info.artists[0]) }}">
        {%- endif -%}
            {{ info.artists[0].name|show_ws }}
        {%- if html -%}
            </a>
        {%- endif %} -
    {%- endif %}
    {%- if info.album -%}
        {%- if html -%}
            <a href="{{ urls.album_url(info.album) }}">
        {%- endif %} {{ info.album.name|show_ws }} ({{ info.album.date if info.album.date else 'N/A' }})
        {%- if html -%}
            </a>
        {%- endif -%}
    {%- else -%}
        N/A {% endif -%}
    {%- if info.disc %} - Disc {{ info.disc }}
    {%- endif -%}
{% endmacro %}

<div id="queue"
    data-queue_info-duration="{{ queue_info.duration }}"
    data-queue_current_track-duration="{{ queue_current_track.duration if queue_current_track else '' }}">
    <div class="btn-group btn-clear">
        <a
            id="clear-queue"
            class="btn btn-sm btn-danger"
            accesskey="t"
            href="/queue/clear">
            <i class="fa fa-trash-o"></i>
            All
        </a>
        <a
            id="clear-played-queue"
            accesskey="r"
            class="btn btn-sm btn-danger"
            href="/queue/clear/played">
            <i class="fa fa-trash-o"></i>
            Played
        </a>
        <a
            rel="tooltip"
            title="This will shuffle everything after the currently playing song."
            id="shuffle-queue"
            class="btn btn-sm btn-warning"
            href="/queue/shuffle">
            <i class="fa fa-random"></i>
        </a>
        <a
            rel="tooltip"
            title="This will collapse all headers to make sorting easier."
            id="collapse-queue"
            class="btn btn-sm btn-success"
            href="#">
            <i class="fa fa-caret-square-o-down"></i>
        </a>
    </div>

    <div class="btn-stream">
        <a rel="tooltip" class="open-stream" target="_blank" href="/play/opmuse.m3u" accesskey="d"
            title="Open in External Player.">
            <i class="fa fa-download"></i>
        </a>
        <a rel="popover" data-trigger="hover" data-placement="left" data-html="true" data-container="body"
            data-content="
                <p>Open in an External Player that supports m3u playlists and mp3 or ogg streams.</p>
                <p>The one thing you need to do is put your player on repeat for the one track the playlist will contain.</p>"
            data-delay="1000" class="open-stream open btn btn-info btn-sm" target="_blank" href="/play/opmuse.m3u">
            <i class="fa fa-download"></i>
        </a>
    </div>

    <div class="clear"></div>

    <div class="tracks-wrapper nano">
        <ol class="tracks nano-content">
            {% for info, queue in queues %}
                <li class="album">
                    <span class="album-header" title="{{ album_header(info, false)|e }}">
                        <span class="album-header-icon">
                            <i class="fa fa-square"></i>
                        </span>
                        {{ album_header(info) }}
                    </span>
                    <span class="album-info">
                        <span class="album-duration">
                            {{ info.duration|format_seconds }}
                        </span>
                        <a
                            class="remove"
                            href="/queue/remove/
                            {%- for q in queue -%}
                                {{ q.id }},
                            {%- endfor -%}
                            ">
                            <span class="fa fa-times-circle"></span>
                        </a>
                    </span>
                </li>
                {% for q in queue %}
                    <li class="track {{ "playing" if q.playing else '' }} {{ "current active" if q.current else '' }} {{ "played" if q.played else '' }} {{ "error" if q.error else '' }}"
                        data-queue-id="{{ q.id }}">
                        <span class="text">
                            <span class="track-icon"
                                title="{{ q.error if q.error else '' }}"
                                {% if q.error %}
                                rel="popover"
                                data-trigger="hover"
                                data-container="body"
                                {% endif %}>
                                <i class="noplay-icon fa fa-square-o"></i>
                                <i class="current-icon fa fa-pause"></i>
                                <i class="playing-icon fa fa-play"></i>
                                <i class="played-icon fa fa-check-square-o"></i>
                                <i class="error-icon fa fa-exclamation-circle"></i>
                            </span>
                            <span class="track-number">
                                {% if q.track.number %}
                                    {{ q.track.number }}
                                {% endif %}
                            </span>
                            {% if info.artists|length > 1 %}
                                <span class="artist-name" title="{{ q.track.artist.name|show_ws }}">
                                    <a href="{{ urls.artist_url(q.track.artist) }}">
                                        {{ q.track.artist.name|show_ws }}
                                    </a>
                                </span>
                            {% endif %}
                            <span class="track-name" title="{{ q.track.name|show_ws }}">
                                <a href="/library/track/{{ q.track.slug|urlencode }}">
                                    {{ q.track.name|show_ws }}
                                </a>
                            </span>
                        </span>
                        <span class="track-info">
                            <span class="track-duration">
                                {{ q.track.duration|format_seconds }}
                            </span>
                            <a
                                class="remove"
                                href="/queue/remove/{{ q.id }}">
                                <span class="fa fa-times-circle"></span>
                            </a>
                        </span>
                        <div class="clear"></div>
                    </li>
                {% endfor %}
            {% endfor %}
        </ol>
    </div>
</div>
