<div class="player-container">
    <audio
        id="player"
        preload="none">
    </audio>

    {{ render("queue/cover") | safe }}

    <div id="player-controls">
        <a
            id="play-button"
            title="Play"
            href="#">
            <i class="fa fa-play"></i>
        </a>
        <a
            id="pause-button"
            title="Pause"
            href="#">
            <i class="fa fa-pause"></i>
        </a>
        <a
            id="stop-button"
            title="Stop"
            href="/queue/stop">
            <i class="fa fa-stop"></i>
        </a>
        <a
            id="next-button"
            title="Next"
            href="#">
            <i class="fa fa-step-forward"></i>
        </a>
        <dl>
            <dt>Queue</dt>
            <dd id="queue-duration">{{ queue_info.duration | format_seconds }}</dd>
        </dl>
        <dl>
            <dt>Current Track</dt>
            <dd>
                <span id="track-time">{{ 0|format_seconds }}</span>
                <span id="track-duration">
                    {{ queue_current_track.duration|format_seconds if queue_current_track else 0|format_seconds }}
                </span>
            </dd>
        </dl>
    </div>

    <div id="player-progress">
        <div class="progress">
            <p id="player-track">
                <span class="title"></span>
            </p>
            <span class="progress-bar seconds" style="width: 0%"></span>
            <span class="progress-bar ahead" style="width: 0%"></span>
        </div>
    </div>

    <div class="clear"></div>
</div>
