<div class="player-container">
    <audio
        id="player"
        preload="none">
    </audio>

    <div id="player-cover">
        {% include "queue/cover.html" %}
    </div>

    <div id="player-controls">
        <a
            id="play-button"
            title="Play"
            href="#">
            <i class="icon-play"></i>
        </a>
        <a
            id="pause-button"
            title="Pause"
            href="#">
            <i class="icon-pause"></i>
        </a>
        <a
            id="next-button"
            title="Next"
            href="#">
            <i class="icon-step-forward"></i>
        </a>
    </div>

    <div id="player-progress">
        <div class="progress">
            <p id="player-track">
                <span class="title"></span>
                <span class="time"></span>
            </p>
            <span class="progress-bar seconds" style="width: 0%"></span>
            <span class="progress-bar ahead" style="width: 0%"></span>
        </div>
    </div>

    <div class="clear"></div>
</div>
