{% extends "body.html" %}

{% set subnav_file_path = "partials/admin-nav.html" %}

{% block title  %}
    Admin - Dashboard
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="dashboard-box configuration-box panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon fa fa-wrench"></i>
                    Configuration
                </h2>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>library.path</dt>
                    <dd>{{ request.app.config.opmuse['library.path'] }}</dd>
                    <dt>library.fs.structure</dt>
                    <dd>{{ request.app.config.opmuse['library.fs.structure'] }}</dd>
                    <dt>lastfm.key</dt>
                    <dd>
                        {% set lastfm_key = request.app.config.opmuse['lastfm.key'] %}

                        {% if lastfm_key %}
                            <a href="http://www.last.fm/api/account/{{ lastfm_key }}">{{ lastfm_key }}</a>
                        {% endif %}
                    </dd>
                    <dt>lastfm.secret</dt>
                    <dd>{{ request.app.config.opmuse['lastfm.secret'] }}</dd>
                </dl>
            </div>
        </div>
        {% set tracks = request.library_dao.get_track_count() %}
        {% set invalid = request.library_dao.get_invalid_track_count() %}
        {% set albums = request.library_dao.get_album_count() %}
        {% set artists = request.library_dao.get_artist_count() %}
        {% set scanning = request.library.scanning %}
        <div class="dashboard-box panel panel-{{ "primary" if scanning else "info" }}">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon fa fa-book"></i>
                    Library
                </h2>
            </div>
            <div class="panel-body">
                {% if scanning %}
                    {% set track_paths = request.library_dao.get_track_path_count() %}
                    {% set files_found = request.library.files_found %}
                    <p>
                        We're scanning for updated, removed and new tracks.
                        {% if files_found %}
                            <strong>
                                {{ track_paths|format_number }} of {{ files_found|format_number }}
                                ({{ ((track_paths / files_found) * 100)|round(1) }}%) files found have been scanned.
                            </strong>
                        {% else %}
                            <strong>Currently looking for files to scan.</strong>
                        {% endif %}
                    </p>
                    <div class="progress progress-striped active">
                        <span class="progress-bar"
                            style="width: {{ (track_paths / files_found) * 100 if files_found else 0 }}%">
                        </span>
                    </div>
                {% endif %}
                <p>
                    You have <strong>{{ tracks|format_number }}</strong> tracks
                    (<strong>{{ invalid|format_number }}</strong> invalid,
                    {{ "%0.f" % ((invalid / tracks if tracks > 0 else 0) * 100) }}%),
                    <strong>{{ albums|format_number }}</strong>
                    albums and <strong>{{ artists|format_number }}</strong> artists.
                </p>
            </div>
        </div>
        <div class="dashboard-box panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon fa fa-floppy-o"></i>
                    Cache
                </h2>
            </div>
            <div class="panel-body">
                There are <strong>{{ cache_size }}</strong> objects in the cache.
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="dashboard-box panel panel-{{ "primary" if request.bgtask.running > 0 else "info" }}">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon fa fa-cogs"></i>
                    Background Tasks
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    There are <strong>{{ request.bgtask.queue.qsize() }}</strong> tasks in queue. Below you can see what the threads
                    are currently working on.
                </p>
                <table class="table">
                    {% for thread in request.bgtask.threads %}
                        <tr class="{{ "success" if thread.item and thread.item.name != 'idle' else '' }}">
                            <th>{{ loop.index }}</th>
                            <td>
                                {% if thread.item and thread.item.name != 'idle' %}
                                    {{ thread.item.name }}
                                {% else %}
                                    Waiting for work.
                                {% endif %}
                            </td>
                            <td>
                                {% if thread.item and thread.item.name != 'idle' %}
                                    {{ thread.item.started|pretty_date("") }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
