{% extends "body.html" %}

{% set subnav_file_path = "partials/admin-nav.html" %}

{% block title  %}
    Admin - Dashboard
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="dashboard-box configuration-box panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon fa fa-wrench"></i>
                    Configuration
                </h2>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>library.path</dt>
                    <dd>{{ request.app.config.opmuse['library.path'] }}</dd>
                    <dt>library.fs.structure</dt>
                    <dd>{{ request.app.config.opmuse['library.fs.structure'] }}</dd>
                    <dt>lastfm.key</dt>
                    <dd>
                        {% set lastfm_key = request.app.config.opmuse['lastfm.key'] %}

                        {% if lastfm_key %}
                            <a href="http://www.last.fm/api/account/{{ lastfm_key }}">{{ lastfm_key }}</a>
                        {% endif %}
                    </dd>
                    <dt>lastfm.secret</dt>
                    <dd>{{ request.app.config.opmuse['lastfm.secret'] }}</dd>
                </dl>
            </div>
        </div>
        <div class="dashboard-box panel panel-{{ "primary" if stats.scanning else "info" }}">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon fa fa-book"></i>
                    Library
                </h2>
            </div>
            <div class="panel-body">
                {% if stats.scanning %}
                    <p>
                        We're scanning for updated, removed and new tracks.
                        {% if stats.files_found %}
                            <strong>
                                {{ stats.track_paths|format_number }} of {{ stats.files_found|format_number }}
                                ({{ ((stats.track_paths / stats.files_found) * 100)|round(1) }}%) files found have been scanned.
                            </strong>
                        {% else %}
                            <strong>Currently looking for files to scan.</strong>
                        {% endif %}
                    </p>
                    <div class="progress progress-striped active">
                        <span class="progress-bar"
                            style="width: {{ (stats.track_paths / stats.files_found) * 100 if stats.files_found else 0 }}%">
                        </span>
                    </div>
                {% endif %}
                <p>
                    You have <strong>{{ stats.tracks|format_number }}</strong> tracks,
                    <strong>{{ stats.albums|format_number }}</strong>
                    albums and <strong>{{ stats.artists|format_number }}</strong> artists.
                </p>
            </div>
        </div>
        <div class="dashboard-box panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon fa fa-bar-chart-o"></i>
                    Statistics
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    Here's some dumb stats for ya'll.
                </p>
                <p>
                    You have <strong>{{ stats.duration|pretty_date("") }}</strong> of play time and
                    <strong>{{ stats.size|format_bytes }}</strong> of tracks.
                </p>
                <dl>
                    <dt>Formats by track duration</dt>
                    <dd>
                        <div class="progress">
                            {% for format, duration, size, count in formats %}
                                {% if duration %}
                                    <div class="progress-bar progress-bar-{{ loop.cycle("success", "info", "warning", "danger") }}"
                                        rel="tooltip" title="{{ duration|pretty_date("") }}"
                                        style="width: {{ (duration / stats.duration) * 100 }}%">
                                        <span>{{ format|pretty_format }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </dd>
                    <dt>Invalid tracks</dt>
                    <dd>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success"
                                rel="tooltip" title="{{ (stats.tracks - stats.invalid)|format_number }} tracks"
                                style="width:
                                {%- if stats.tracks > 0 -%}
                                    {{ ((stats.tracks - stats.invalid) / stats.tracks) * 100 }}%
                                {% else %}
                                    0%
                                {% endif %}">
                            </div>
                            <div class="progress-bar progress-bar-danger"
                                rel="tooltip" title="{{ stats.invalid|format_number }} tracks"
                                style="width:
                                {%- if stats.tracks > 0 -%}
                                    {{ (stats.invalid / stats.tracks) * 100 }}%
                                {% else %}
                                    0%
                                {% endif %}">
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="dashboard-box panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon fa fa-hdd-o"></i>
                    Filesystem
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    There are <strong>{{ disk.free|format_bytes }}</strong> of
                    <strong>{{ disk.total|format_bytes }}</strong> free on <strong>{{ disk.path }}</strong>:
                </p>
                <div class="progress">
                    <div class="progress-bar progress-bar-info"
                        rel="tooltip" title="{{ (disk.free - stats.size)|format_bytes }} of other usage
                            (files outside of opmuse and other library files such as covers)."
                        style="width: {{ ((disk.free - stats.size) / disk.total) * 100 }}%"></div>
                    <div class="progress-bar progress-bar-success"
                        rel="tooltip" title="{{ stats.size|format_bytes }} of track usage (tracks in opmuse library)."
                        style="width: {{ (stats.size / disk.total) * 100 }}%"></div>
                </div>
                <p>
                    With an average track duration of <strong>
                        {{ (stats.duration / stats.tracks if stats.tracks > 0 else 0)|format_seconds }}
                    </strong>
                    and an average track size of <strong>
                        {{ (stats.size / stats.tracks if stats.tracks > 0 else 0)|format_bytes }}
                    </strong> you
                    could fit another <strong>
                        {{ (disk.free / (stats.size / stats.tracks) if stats.tracks > 0 else 0)|format_number }}
                    </strong>
                    tracks on this disk.
                </p>
            </div>
        </div>
        <div class="dashboard-box panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon fa fa-floppy-o"></i>
                    Cache
                </h2>
            </div>
            <div class="panel-body">
                There are <strong>{{ cache_size }}</strong> objects in the cache.
            </div>
        </div>
        <div class="dashboard-box panel panel-{{ "primary" if request.bgtask.running > 0 else "info" }}">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon fa fa-cogs"></i>
                    Background Tasks
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    There are <strong>{{ request.bgtask.queue.qsize() }}</strong> tasks in queue. Below you can see what the threads
                    are currently working on.
                </p>
                <table class="table">
                    {% for thread in request.bgtask.threads %}
                        <tr class="{{ "success" if thread.item and thread.item.name != 'idle' else '' }}">
                            <th>{{ loop.index }}</th>
                            <td>
                                {% if thread.item and thread.item.name != 'idle' %}
                                    {{ thread.item.name }}
                                {% else %}
                                    Waiting for work.
                                {% endif %}
                            </td>
                            <td>
                                {% if thread.item and thread.item.name != 'idle' %}
                                    {{ thread.item.started|pretty_date("") }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
