{% macro album_desc(album, href, prefix = true) %}
    {% import "macros/urls.html" as urls %}
    {%- if album.artists|length > 1 -%}
        {% if prefix %}
            with
        {% endif %}
        {% for artist in album.artists -%}
            {%- if not loop.first and not loop.last %}, {% elif loop.last %} and {% endif -%}
            {%- if href -%}
                <a href="{{ urls.artist_url(artist) }}">{{ artist.name|show_ws }}</a>
            {%- else -%}
                {{ artist.name|show_ws }}
            {%- endif -%}
        {%- endfor -%}.
    {%- elif album.artists|length == 1 -%}
        {% if prefix %}
            by
        {% endif %}
        {% if href -%}
            <a href="{{ urls.artist_url(album.artists[0]) }}">{{ album.artists[0].name|show_ws }}</a>
        {%- else -%}
            {{ album.artists[0].name|show_ws }}
        {%- endif -%}
        .
    {%- else -%}
        by Unknown Artist.
    {%- endif -%}
{% endmacro %}

{% macro album_queue_btn(album) %}
    <a class="queue add add-album btn btn-primary btn-sm"
        href="/queue/add_album/{{ album.id }}">
        <i class="fa fa-headphones"></i>
    </a>
{% endmacro %}

{% macro album(artist, album) %}
    {% import "macros/urls.html" as urls %}
    {% import "macros/covers.html" as covers %}
    {% import "macros/tracks.html" as tracks %}

    <div class="album">
        <figure class="effeckt-caption" data-effeckt-type="half-slide">
            {% set album_url = urls.album_url(album, artist) %}
            <a href="{{ album_url }}">
                {{ covers.album(album) }}
            </a>
            <figcaption>
                <div class="effeckt-figcaption-wrap">
                    <div class="left">
                        <dl>
                            <dt>Tracks</dt>
                            <dd>{{ album.track_count }}
                            {% if album.disc_count > 1 %}
                                ({{ album.disc_count }} discs)
                            {% endif %}
                            </dd>
                        </dl>
                        <dl>
                            <dt>Duration</dt>
                            <dd>{{ album.duration|format_seconds }}</dd>
                        </dl>
                        <dl>
                            <dt>Added</dt>
                            <dd>{{ album.added|pretty_date }}</dd>
                        </dl>
                        <dl>
                            <dt>Format</dt>
                            <dd>{{ album.pretty_format }}</dd>
                        </dl>
                    </div>
                    <div class="right">
                        {{ album_queue_btn(album) }}
                        {% if is_granted('admin') %}
                            <a class="remove-cover btn btn-default btn-sm"
                                href="/cover/refresh/album/{{ album.slug|urlencode }}">
                                <i class="fa fa-refresh"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </figcaption>
        </figure>
        <div class="album-desc">
            <h3 class="album-name" title="{{ album.name }} {% if album.date %}({{ album.date }}){% endif %}">
                <a href="{{ album_url }}">
                    <span>
                        {{ album.name|show_ws }}
                    </span>
                    <span class="album-date">
                        {%- if album.date -%}
                            {{ album.date }}
                        {%- else -%}
                            N/A
                        {%- endif -%}
                    </span>
                </a>
            </h3>
            {% if not artist or album.artists|length > 1 %}
                <p title="{{ album_desc(album, false)|e }}">
                    {{ album_desc(album, true) }}
                </p>
            {% endif %}
        </div>
    </div>
{% endmacro %}
