{% macro album_desc(album, href) %}
    {%- if album.artists|length > 1 -%}
        with {% for artist in album.artists -%}
        {%- if not loop.first and not loop.last %}, {% elif loop.last %} and {% endif -%}
            {%- if href -%}
                <a href="/{{ artist.slug|urlencode }}">{{ artist.name|show_ws }}</a>
            {%- else -%}
                {{ artist.name|show_ws }}
            {%- endif -%}
        {%- endfor -%}.
    {%- elif album.artists|length == 1 -%}
        by {% if href -%}
            <a href="/{{ album.artists[0].slug|urlencode }}">{{ album.artists[0].name|show_ws }}</a>
        {%- else -%}
            {{ album.artists[0].name|show_ws }}
        {%- endif -%}
        .
    {%- else -%}
        by Unknown Artist.
    {%- endif -%}
{% endmacro %}

{% macro album(artist, album) %}
    {% import "macros/covers.html" as covers %}

    <div class="album-container">
        <div class="album {{ 'invalid' if album.invalid else '' }}">
            <div class="album-badges">
                <p class="album-track-count badge badge-inverse">{{ album.tracks|count }} tracks</p>
                <p class="album-track-count badge badge-inverse">{{ album.duration|format_seconds }}</p>
                <p class="album-track-count badge badge-inverse">{{ album.added|pretty_date }}</p>
            </div>
            <div class="album-badges bottom">
                {% if album.is_va %}
                    <p class="album-va badge badge-success">VA</p>
                {% endif %}
                {% if album.low_quality %}
                    <p class="album-low-quality badge badge-warning"
                        title="Album has tracks of low quality, consider replacing them.">
                        <i class="icon-thumbs-down"></i>
                    </p>
                {% endif %}
                {% if album.invalid %}
                <p class="album-invalid badge badge-important" title="This album containts invalid tracks.">
                    {% if "dir" in album.invalid %}
                        <i class="icon-folder-open"></i>
                    {% endif %}
                    {% if "incomplete_tags" in album.invalid %}
                        <i class="icon-tag"></i>
                    {% endif %}
                    {% if "broken_tags" in album.invalid %}
                        <i class="icon-tags"></i>
                    {% endif %}
                    {% if "missing_tags" in album.invalid %}
                        <i class="icon-circle-blank"></i>
                    {% endif %}
                </p>
                {% endif %}
            </div>
            <a class="queue add add-album btn btn-small btn-inverse"
                href="/queue/add/
                    {%- for track in album.tracks -%}
                        {{ track.id }},
                    {%- endfor -%}">
                <i class="icon-headphones"></i>
            </a>
            {% if album.is_va %}
                {% set album_url =  "va/" + album.slug|urlencode %}
            {% else %}
                {% if not artist and album.artists|length == 0 %}
                    {% set artist_slug = "unknown" %}
                {% elif album.artists|length > 0 %}
                    {% set artist_slug = album.artists[0].slug|urlencode %}
                {% else %}
                    {% set artist_slug = artist.slug|urlencode %}
                {% endif %}
                {% set album_url = artist_slug + "/" + album.slug|urlencode %}
            {% endif %}
            <a href="/{{ album_url }}">
                {{ covers.album(album) }}
            </a>
            <div class="album-desc">
                <h3 class="album-name" title="{{ album.name }} {% if album.date %}({{ album.date }}){% endif %}">
                    <a href="/{{ album_url }}">
                        {{ album.name|show_ws }}
                        {% if album.date %}
                            <small>({{ album.date }})</small>
                        {% endif %}
                    </a>
                </h3>
                {% if not artist %}
                    <p title="{{ album_desc(album, false)|e }}">
                        {{ album_desc(album, true) }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}
