{% macro album_media(album, children = []) %}
    {% import "macros/covers.html" as covers %}

    <div class="media album">
        <a href="/{{ album.artists[0].slug|urlencode }}/{{ album.slug|urlencode }}">
            {{ covers.album(album, 80, "img-rounded media-object pull-left") }}
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ album.name|show_ws }}</h4>
            <p>by {{ album.artists[0].name|show_ws }}</p>
            {% if caller %}
                {% for child in children %}
                    {{ caller(child) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}
