{% macro album(album, cover_size = 220, cover_class = "img-polaroid", remove = False) %}
    <span class="cover-container" id="album_cover_{{ album.id }}">
        {% if is_granted('admin') and remove %}
            <a class="remove-cover btn btn-small btn-inverse"
                href="/cover_refresh/album/{{ album.slug|urlencode }}">
                <i class="icon-refresh"></i>
            </a>
        {% endif %}

        <img width="{{ cover_size }}" height="{{ cover_size }}"
            {% if not album %}
                src="/static/images/cover_placeholder.png"
            {% else %}
                src="/cover/album/{{ album.slug|urlencode }}
                    {%- if album.cover_hash -%}
                        {{ "?hash=%s" % album.cover_hash.decode('utf8')|urlencode }}
                    {%- else -%}
                        {{ "?hash=%s" % ('invalid' if album.invalid else 'valid') }}
                    {%- endif -%}"
            {% endif %}
            alt="Album cover" class="album-cover {{ cover_class }}" />
    </span>
{% endmacro %}

{% macro artist(artist, cover_size = 220, cover_class = "img-polaroid", remove = False) %}
    <span class="cover-container" id="artist_cover_{{ artist.id }}">
        {% if is_granted('admin') and remove %}
            <a class="remove-cover btn btn-small btn-inverse"
                href="/cover_refresh/artist/{{ artist.slug|urlencode }}">
                <i class="icon-refresh"></i>
            </a>
        {% endif %}

        <img width="{{ cover_size }}" height="{{ cover_size }}"
        {% if artist %}
            src="/cover/artist/{{ artist.slug|urlencode }}
            {%- if artist.cover_hash -%}
                {{ "?hash=%s" % artist.cover_hash.decode('utf8')|urlencode }}
            {%- else -%}
                {{ "?hash=%s" % ('invalid' if artist.invalid else 'valid') }}
            {%- endif -%}"
        {% else %}
            src="/static/images/cover_placeholder.png"
        {% endif %}
            alt="Artist cover" class="artist-cover {{ cover_class }}" />
    </span>
{% endmacro %}
