{% macro dropdown(tracks) %}
        {% set modalId = "removeAlbumModal" + rand_id() %}

        {{ remove_modal(modalId, "Remove Tracks", tracks) }}

        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
            Tracks
            <span class="icon-caret-down"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/library/edit/{% for track in tracks -%}
                    {{ track.id }}, {%- endfor %}">
                    <i class="icon-pencil"></i>
                    Edit
                </a>
            </li>
            <li>
                <a
                    role="button"
                    data-toggle="modal"
                    href="#{{ modalId }}">
                    <i class="icon-trash"></i>
                    Remove
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a title="Move to {{ tracks[0]|track_path|e }}/"
                    href="/library/edit/move/{% for track in tracks -%}
                    {{ track.id }},
                    {%- endfor %}">
                    <i class="icon-folder-open"></i>
                    Move to <strong>{{ tracks[0]|track_path }}/</strong>
                </a>
            </li>
            <li>
                <a title="Move to {{ tracks[0]|track_path("Various Artists")|e }}/"
                    href="/library/edit/move/{% for track in tracks -%}
                {{ track.id }},
                {%- endfor %}/va">
                    <i class="icon-folder-open"></i>
                    Move to <strong>{{ tracks[0]|track_path("Various Artists") }}/</strong>
                </a>
            </li>
        </ul>
{% endmacro %}

{% macro remove_modal(modalId, modalLabel, tracks) %}
    <div class="modal hide" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="removeModalLabel">{{ modalLabel }}</h3>
        </div>
        <div class="modal-body">
            <p>This will remove all tracks from opmuse and all files from <strong>the filesystem</strong>.</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            <a class="btn" data-ajaxify="continue" data-dismiss="modal" href="/remove/
                {%- for track in tracks -%}
                    {{ track.id }},
                {%- endfor -%}
                ">Yes</a>
        </div>
    </div>
{% endmacro %}
