{% macro hierarchy(hierarchy) %}
    <div class="media-hierarchy">
        {% for key, artist in hierarchy.artists.items() %}
            {% call(album) artist_media(artist.entity, artist.albums.items()) %}
                {{ album_hierarchy(album[1].entity, album[1].tracks) }}
            {% endcall %}

            {# TODO this should be located within the artist media body... #}
            {% for key, track in artist.tracks.items() %}
                {% set track = track.entity %}
                <div class="track">
                    {% include "partials/track.html" %}
                </div>
            {% endfor %}
        {% endfor %}
        {% for key, album in hierarchy.albums.items() %}
            {{ album_hierarchy(album.entity, album.tracks) }}
        {% endfor %}
        {% for key, track in hierarchy.tracks.items() %}
            {% set track = track.entity %}
            <div class="track">
                {% include "partials/track.html" %}
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro album_hierarchy(album_entity, album_tracks) %}
    {% call(track) album_media(album_entity, album_tracks.items()) %}
        {% set track = track[1].entity %}
        <div class="track">
            {% include "partials/track.html" %}
        </div>
    {% endcall %}
{% endmacro %}

{% macro album_media(album, children = []) %}
    {% import "macros/covers.html" as covers %}

    <div class="media album">
        {% if album.artists|length == 0 %}
            {% set artist_slug = "unknown" %}
        {% else %}
            {% set artist_slug = album.artists[0].slug|urlencode %}
        {% endif %}
        <a href="/{{ artist_slug }}/{{ album.slug|urlencode }}">
            {{ covers.album(album, 80, "img-rounded media-object pull-left") }}
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{ album.name|show_ws }}
                {% if album.date %}
                    <small>({{ album.date }})</small>
                {% endif %}
            </h4>
            {% if album.artists|length == 0 %}
                <p>by Unknown artist</p>
            {% else %}
                <p>by {{ album.artists[0].name|show_ws }}</p>
            {% endif %}
            {% if caller %}
                {% for child in children %}
                    {{ caller(child) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro artist_media(artist, children = []) %}
    {% import "macros/covers.html" as covers %}

    <div class="media artist">
        <a href="/{{ artist.slug|urlencode }}">
            {{ covers.artist(artist, 80, "img-rounded media-object pull-left") }}
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="/{{ artist.slug|urlencode }}">
                    {{ artist.name|show_ws }}
                </a>
            </h4>
            {% if caller %}
                {% for child in children %}
                    {{ caller(child) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endmacro %}
