{% macro table(tracks, show_album = True, show_artist = True) %}
    {% import "macros/urls.html" as urls %}

    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            {% if show_album %}
                <th>Album</th>
            {% endif %}
            {% if show_artist %}
                <th>Artist</th>
            {% endif %}
            <th>Duration</th>
            <th>Added</th>
        </tr>
        {% for track in tracks %}
            <tr class="{{ "danger" if track.invalid  }}">
                <td>
                    <a class="queue add btn btn-default btn-xs" href="/queue/add/{{ track.id }}">
                        <i class="icon-headphones"></i>
                    </a>
                </td>
                <td>
                    <a href="/library/track/{{ track.slug|urlencode }}">
                        {{ track.name|show_ws }}
                    </a>
                </td>
                {% if show_album %}
                    <td>
                        {% if track.album %}
                            <a href="{{ urls.album_url(track.album, None) }}">
                                {{ track.album.name|show_ws }}
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
                {% if show_artist %}
                    <td>
                        {% if track.artist %}
                            <a href="{{ urls.artist_url(track.artist) }}">
                                {{ track.artist.name|show_ws }}
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {{ track.duration|format_seconds }}
                </td>
                <td>
                    {{ track.added|pretty_date }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}
