{% import "macros/urls.html" as urls %}

{% macro invalids_label(invalids) %}
    {% for invalid in invalids %}
        {{ invalid_label(invalid) }}
    {% endfor %}
{% endmacro %}

{% macro invalid_label(invalid) %}
    {% if invalid == "dir" %}
    <span class="invalid-track invalid-dir label label-warning" rel="popover"
        title="Folder doesn't match tags."
        data-trigger="hover"
        data-container="body"
        data-html="true"
        data-content="Track isn't located in its expected folder. Note that these names are case
        sensitive. <strong>This does not affect the playability of this track!</strong>">
        <i class="fa fa-folder-open"></i>
    </span>
    {% elif invalid == "incomplete_tags" %}
    <span class="invalid-track invalid-incomplete label label-danger" rel="popover"
        title="Required tags are missing."
        data-trigger="hover"
        data-container="body"
        data-html="true"
        data-content="Track is missing valid tags (ID3, Ogg tags etc) for artist and/or title. Use edit to set
        these properly. <strong>This does not affect the playability of this track!</strong>
        ">
        <i class="fa fa-tag"></i>
    </span>
    {% elif invalid == "broken_tags" %}
    <span class="invalid-track invalid-broken label label-danger" rel="popover"
        title="Tags are broken."
        data-trigger="hover"
        data-container="body"
        data-html="true"
        data-content="<p>Track has broken tags. These most likely needs to be fixed manually.
            <strong>This doesn't necessarily affect the playability of this track!</strong></p>
        ">
        <i class="fa fa-tags"></i>
    </span>
    {% elif invalid == "missing_tags" %}
        <span class="invalid-track fa fa-circle-o label label-danger" rel="popover" title="Tags are missing">
            <i class="fa fa-circle-o"></i>
        </span>
    {% else %}
        <span class="invalid-track label label-danger" rel="popover"
            {{ invalid }}
        </span>
    {% endif %}
{% endmacro %}

{% macro table(tracks, show_album = True, show_artist = True) %}
    <table class="table table-striped table-curved table-condensed">
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            {% if show_album %}
                <th>Album</th>
            {% endif %}
            {% if show_artist %}
                <th>Artist</th>
            {% endif %}
            <th>Duration</th>
            <th>Updated</th>
        </tr>
        {% for track in tracks %}
            <tr>
                <td>
                    <a
                        class="queue add btn btn-primary btn-xs"
                        href="/queue/add/{{ track.id }}"
                        title="Queue this track"
                        rel="tooltip">
                        <i class="fa fa-headphones"></i>
                    </a>
                </td>
                <td>
                    {% if track.invalid %}
                        {{ invalid_label(track.invalid) }}
                    {% endif %}
                    <a href="/library/track/{{ track.slug|urlencode }}">
                        {{ track.name|show_ws }}
                    </a>
                </td>
                {% if show_album %}
                    <td>
                        {% if track.album %}
                            <a href="{{ urls.album_url(track.album, None) }}">
                                {{ track.album.name|show_ws }}
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
                {% if show_artist %}
                    <td>
                        {% if track.artist %}
                            <a href="{{ urls.artist_url(track.artist) }}">
                                {{ track.artist.name|show_ws }}
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
                <td>
                    {{ track.duration|format_seconds }}
                </td>
                <td>
                    {{ track.updated|pretty_date }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro dir_table(dir_tracks) %}
    {% import "macros/edit-dropdown.html" as edit_dropdown %}

    <div class="dir_table">
        {% set index = 0 %}

        {% for dir, item in dir_tracks %}
            {% set tracks = item['tracks'] %}
            {% set files = item['files'] %}
            {% set pretty_dir = item['pretty_dir'] %}
            <h4 class="folder-name">
                <i title="{{ dir.decode('utf8', 'replace') }}" rel="tooltip" class="fa fa-folder-open"></i>
                {{ pretty_dir }}
            </h4>
            <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <td colspan="6">
                        <div class="btn-group queue-btn">
                            <a
                                accesskey="a"
                                class="queue add add-album btn-xs btn btn-primary"
                                title="Queue this folder."
                                rel="tooltip"
                                href="/queue/add/
                                    {%- for track in tracks -%}
                                        {{ track.id }},
                                    {%- endfor -%}
                                ">
                                <i class="fa fa-headphones"></i>
                            </a>
                        </div>
                        {{ edit_dropdown.dropdown(tracks, btn_size = "btn-xs") }}
                    </td>
                </tr>
                {% for track in tracks %}
                    <tr>
                        <td>{{ track.number }}</td>
                        <td>
                            {%- if track.album and track.album.artists|length > 1%}
                                <a href="{{ urls.artist_url(track.artist) }}">{{ track.artist.name|show_ws }}</a>
                            {% endif -%}
                        </td>
                        <td>
                            <span class="btn-group queue-btn">
                                <a
                                    class="btn btn-primary btn-xs queue add"
                                    href="/queue/add/{{ track.id }}"
                                    title="Queue this track"
                                    rel="tooltip">
                                    <i class="fa fa-headphones"></i>
                                </a>
                            </span>
                            {% if track.has_dups %}
                                <span class="label label-warning"
                                    title="Track has duplicates, you could remove all but one of them."
                                    rel="tooltip">
                                    {{ track.paths|length }}<i class="fa fa-times"></i>
                                </span>
                            {% endif %}
                            {% if track.low_quality %}
                                <span class="label label-warning"
                                    title="Track is of low quality, consider replacing it."
                                    rel="tooltip">
                                    <i class="fa fa-thumbs-down"></i>
                                </span>
                            {% endif %}
                            <a href="/library/track/{{ track.slug|urlencode }}">{{ track.name|show_ws }}</a>
                        </td>
                        <td>{{ track.duration|format_seconds }}</td>
                        <td class="hidden-xs">
                            {{ track.pretty_format }}
                            {% if track.bitrate %}
                                @ {{ (track.bitrate / 1024) | format_number }} kbits/s
                            {% endif %}
                        </td>
                        {% if track.invalid %}
                            <td>{{ invalid_label(track.invalid) }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
            </div>
            {% if files %}
            <div class="table-responsive">
            <table class="table table-condensed">
                <tbody class="other-files-header">
                    <tr>
                        <th class="other-files-header-title">
                            {{ files|count }} Other Files
                            <a class="btn btn-default btn-xs collapsed other-files-toggle" data-toggle="collapse" href="#other_files_{{ index }}">
                                <i class="fa fa-angle-down in"></i>
                                <i class="fa fa-angle-up out"></i>
                            </a>
                        </th>
                    </tr>
                </tbody>
                <tbody class="other-files collapse" id="other_files_{{ index }}">
                    {% for item in files %}
                    <tr>
                        <td>
                            {% if item.isdir %}
                                <i class="fa fa-folder-open-o"></i>
                            {% elif item.track %}
                                <i class="fa fa-music"></i>
                            {% else %}
                                <i class="fa fa-file-o"></i>
                            {% endif %}
                            {% if item.track %}
                                {% set track = item.track %}
                                {% include "partials/track.html" %}
                                <span class="track-file">{{ item.pretty_file }}</span>
                            {% elif item.isdir %}
                                {{ item.pretty_file }}
                            {% else %}
                                <a class="download" target="_blank"
                                    href="/download?file={{ item.relative_file|urlencode }}">
                                    {{ item.pretty_file }}
                                </a>
                                {% if item.is_artist_cover %}
                                    <p rel="tooltip" title="This is a image used for one of the artist covers." class="label label-info">
                                        Artist Cover
                                    </p>
                                {% endif %}
                                {% if item.is_album_cover %}
                                    <p rel="tooltip" title="This is the image used for the album cover." class="label label-info">
                                        Album Cover
                                    </p>
                                {% endif %}
                                <span class="file-size">
                                    {{ item.size|format_bytes }}
                                </span>
                                <span class="file-modified">
                                    modified {{ item.modified|pretty_date }}
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            {% endif %}

            {% set index = index + 1 %}
        {% endfor %}
    </div>
{% endmacro %}
