#album {
    ul {
        list-style: none;
        margin: 0;
    }

    .artist-name,
    .album-name {
        display: none;
    }

    table {
        margin-top: 10px;
        clear: both;
        overflow: hidden;

        .queue {
            float: right;
        }
    }
}

.album-art {
    width: 220px;
    height: 220px;
}
