#artist {
}

.artist-head {
    .album-cover,
    .artist-cover {
        margin: 20px 0 0 10px;
    }

    h3.album-head .date {
        margin-left: 6px;
        font-size: .8em;
        color: #888;

        &:after {
            content: ')';
        }

        &:before {
            content: '(';
        }
    }
}

.artist-nav {
    .nav {
        max-height: 120px;
        overflow: auto;

        @media only screen and (min-height : 500px) {
            max-height: 160px;
        }

        @media only screen and (min-height : 700px) {
            max-height: 200px;
        }

        @media only screen and (min-height : 900px) {
            max-height: 240px;
        }
    }
}
