/* album used on artist and library main page */
@album-width: 220px;

.artist-cover,
.album-art {
    .img-polaroid;
    width: @album-width;
    height: 220px;
}

.artists,
.albums {
    clear: both;
    overflow: hidden;
    padding-top: 10px;

    li {
        list-style: none;
    }

    .artist-container,
    .album-container {
        margin-top: 14px;
        float: left;

        width: 50%;

        @media only screen and (min-width : 1280px) {
            width: 33.3%;
        }

        @media only screen and (min-width : 1665px) {
            width: 25%;
        }

        @media only screen and (min-width : 1920px) {
            width: 20%;
        }

        .artist,
        .album {
            margin: 0 auto;
            position: relative;
            width: @album-width;

            .artist-desc,
            .album-desc {
                width: @album-width;

                h3 {
                    line-height: 20px;
                }

                h3, p {
                    margin: 4px 0 4px 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 1.2em;
                }
            }

            .album-badges,
            .add-album {
                position: absolute;
                display: block;
            }

            .album-badges {
                top: -6px;
                left: -6px;
            }

            .album-invalid,
            .album-date,
            .album-track-count {
                display: block;
                opacity: .9;
                margin: 2px 0 0 0;
                float: left;
                clear: both;
            }

            .add-album {
                top: -6px;
                right: -14px;
            }
        }
    }
}

.btn-container {
    clear: both;
    overflow: hidden;

    .edit-btn {
        float: right;
    }

    .queue-btn {
        float: left;
    }
}

