/* album used on artist and library main page */
@album-width: 220px;

.artists,
.albums {
    clear: both;
    overflow: hidden;
    padding: 10px 0 0 0;
    margin: 0;

    li {
        list-style: none;
    }

    .artist-container,
    .album-container {
        margin: 8px 22px;
        float: left;

        .artist,
        .album {
            margin: 0 auto;
            position: relative;
            width: @album-width;
            text-align: center;

            .artist-desc,
            .album-desc {
                width: @album-width;

                h3 {
                    line-height: 26px;
                }

                h3, p {
                    margin: 4px 0 4px 8px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                h3 {
                    font-size: 1.2em;
                }

                p {
                    font-size: 1em;
                }
            }

            .artist-badges,
            .album-badges,
            .add-album {
                z-index: 99;
                position: absolute;
                display: block;
            }

            .artist-badges,
            .album-badges {
                top: -6px;
                left: -6px;

                &.artist-badges.bottom {
                    bottom: 13px;
                }

                &.bottom {
                    bottom: 50px;
                    top: auto;
                    left: 135px;
                    width: 100px;
                    p {
                        float: right;
                    }
                }

                .badge {
                    line-height: 12px;
                }
            }

            .album-low-quality,
            .album-invalid,
            .album-date,
            .album-va,
            .album-track-count {
                display: block;
                margin: 2px 0 0 0;
                float: left;
                clear: both;
            }

            .add-album {
                top: -6px;
                right: -14px;
            }
        }
    }
}

.edit-btn {
    float: right;
    font-weight: normal;

    .dropdown-menu {
        li a {
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: .8em;
        }
    }
}

.queue-btn {
    float: left;
}

.cover-container {
    display: block;
    position: relative;
    width: 220px;
    height: 220px;

    .remove-cover {
        position: absolute;
        right: -6px;
        top: -6px;
        z-index: 99;
    }

    img {
        position: absolute;
        right: 0;
        top: 0;

        .transition(.7s);

        &.cover-hide {
            opacity: 0;
        }
    }

    .cover-overlay {
        z-index: -99;
    }
}

.media {
    .album-cover,
    .artist-cover {
        width: 80px;
        height: 80px;
    }

    .media-body {
        padding-left: 10px;
    }
}

.artist-nav {
    .badge {
        a {
            color: #FDFDFD;
        }
    }
}
