#edit {
    table {
        .track-info td {
            font-size: .8em;
            line-height: .8em;

            .title {
                font-weight: bold;
            }
        }

        td input {
            margin-bottom: 0;
        }
    }
}
