.noise-background {
    background-image: url("/images/noise.png");
}

body {
    overflow: hidden;
}

.clear {
    clear: both;
    overflow: hidden;
    display: block;
}

#content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px
}

@footer-height: 70px;

footer {
    background-color: @bodyBackground;
    height: @footer-height;
    position: fixed;
    bottom: 0;
    width: 100%;

    .footer-content {
        height: @footer-height - 20;
        margin-top: 10px;
        padding: 10px 0 5px;

        border-top: 1px solid lighten(@accentColor, 20%);
        background-color: lighten(@accentColor, 45%);
    }
}

.throbber {
    display: none;
    float: left;
    margin: 6px 0 0 0;
    padding: 0 0 0 20px;
}

.brand,
.throbber {
    width: 70px;
}

.tmpl {
    display: none;
}

.breadcrumb {
    background-color: @wellBackground;
    .active {
        color: lighten(desaturate(@linkColor, 40%), 10%)
    }
}

.navbar {
    .brand {
        margin-left: -10px;
    }

    .navbar-you {
        margin-right: 10px;
    }
}

