.noise-background {
    background-image: url("/images/noise.png");
}

body {
    padding-top: 60px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-nav {
    padding: 9px 0;
}

.clear {
    clear: both;
    overflow: hidden;
    display: block;
}

@footer-height: 110px;

#content {
    padding-bottom: @footer-height;
}

footer {
    background-color: @bodyBackground;
    height: @footer-height;
    position: fixed;
    bottom: 0;
    width: 100%;

    .footer-content {
        height: @footer-height - 20;
        margin-top: 10px;
        padding: 10px 0 5px;

        border-top: 1px solid lighten(@accentColor, 30%);
        background-color: lighten(@accentColor, 49%);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    }
}

.throbber {
    display: none;
    float: left;
    margin: 6px 0 0 0;
    padding: 0 0 0 20px;
}

.brand,
.throbber {
    width: 70px;
}

