#library {
    .track {
        margin: 4px 0 4px 0;
        p {
            float: left;
        }
        .play {
            display: block;
            text-transform: uppercase;
            background: #999;
            padding: 2px 3px 2px 3px;
            color: #fefefe;
            font-weight: bold;
            float: right;
            &:hover {
                color: #999;
                background: #fefefe;
            }
        }
    }

    .artist > p {
        font-weight: bold;
    }

    .album > p {
        font-size: .9em;
    }

    .track > p {
        font-size: .8em;
    }

    ul {
        margin-left: 10px;
        li {
            height: 21px;
            display: block;
            clear: both;
        }
    }
}
