#library {
    .track {
        margin: 4px 0 4px 0;
        p {
            float: left;
        }

        .playlist.add {
            background: white
                url("/images/icon_spritesheet.png")
                no-repeat
                left
                top;
            display: block;
            text-transform: uppercase;
            width: 30px;
            height: 30px;
            color: transparent;
            float: right;
            &:hover {
            }
        }
    }

    .artist > p {
        font-weight: bold;
    }

    .album > p {
        font-size: .9em;
    }

    .track > p {
        font-size: .8em;
        &.number {
            margin-right: 1em;
        }
        &.duration {
            margin-left: 1em;
            color: #888;
        }
    }

    ul {
        margin-left: 10px;
        li {
            height: 30px;
            margin-bottom:4px;
            display: block;
            clear: both;
        }
    }
}
