#library {
    ul .queue.add,
    ul .queue.add-album {
        display: block;
        text-transform: uppercase;
        float: right;
        font-weight: bold;
        width: 32px;
        text-align: center;
    }

    ul {
        .zebra-striping;
    }

    .album .album-tracks-count {
        color: #888;
        font-size: 0.8em;

        &:before {
            content: "- ";
        }
    }

    .add-album {
        float: right;
        clear: both;
    }

    .new_tracks {
        .album-name {
            display: inline;
            &:after {
                content: ' -';
            }
        }
    }
}
