#player {
    display: none;
}

#player-controls {
    display: none; // Displayed in the javascript on document ready
    float: right !important;

    .icon {
        height: 30px;
        width: 30px;
        border: 0;
        color: transparent;
        font-size: 0;
        display: block;
    }
}
