#playlist {
    .boxybox;

    .tracks {
        li {
            height: 30px;
            margin-bottom: 5px;
        }
    }

}

.remove {
    background: white
        url("/images/icon_spritesheet.png")
        no-repeat
        left
        -60px;
    display: block;
    text-transform: uppercase;
    width: 30px;
    height: 30px;
    color: transparent;
    float: right;

    &:hover {
        color: transparent;
    }
}

#clear-playlist {
    background: transparent
        url("/images/icon_spritesheet.png")
        no-repeat
        left
        -120px;
    display: block;
    text-transform: uppercase;
    width: 30px;
    height: 30px;
    color: transparent;

    &:hover {
        color: transparent;
    }
}
