#player {
    display: none;
}

#player-controls {
    display: none; // Displayed in the javascript on document ready

    .icon {
        height: 30px;
        width: 30px;
        border: 0;
        color: transparent;
        font-size: 0;
        display: block;
        float: left;
    }
}

#player-progress {
    .progress {
        width: 170px;
        float: left;
        margin: 5px 0 0 10px;

        @media only screen and (min-width : 1280px) {
            width: 310px;
        }

        @media only screen and (min-width : 1665px) {
            width: 490px;
        }

        @media only screen and (min-width : 1920px) {
            width: 630px;
        }
    }
}

#player-stream {
    margin: 0 0 0 10px;
    float: left;
}
