#playlist {
    .boxybox;
    overflow: hidden;

    #clear-playlist {
        float: right;
        clear: both;
    }

    .remove {
        display: block;
        text-transform: uppercase;
        float: right;
        font-weight: bold;
        width: 32px;
        text-align: center;
    }

    .playing {
        background: #E0BBBB;
    }

}

.remove {
    display: block;
    text-transform: uppercase;
    float: right;
}
