#queue {
    ol {
        overflow-y: auto;
        overflow-x: hidden;
        list-style: none;
        margin: 0;
    }

    li,
    .text,
    .track-info {
        height: 22px;
        line-height: 22px;
    }

    .artist-name,
    .album-name {
        display: none;
    }

    .text,
    .album-header {
        width: 76%;
        float: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .album-header {
        font-weight: bold;
        width: 90%;
    }

    .remove {
        text-transform: uppercase;
        font-weight: bold;
        width: 32px;
        text-align: center;

        .icon-remove {
            margin: 0;
        }
    }

    .album-info,
    .track-info {
        display: block;
        float: right;
    }

    .played {
        background-color: #e2e2e2;
    }

    .playing {
        background-color: #d6d6d6;
    }
}
