#queue {
    ol {
        list-style: none;
        margin: 0;
    }

    .artist-name,
    .album-name {
        display: none;
    }

    .album-header {
        font-weight: bold;
    }

    .text {
        width: 85%;
        float: left;
    }

    .text,
    .album-header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .remove {
        display: block;
        text-transform: uppercase;
        float: right;
        font-weight: bold;
        width: 32px;
        text-align: center;
    }
}
