body {
    color: @text_color;
    font-family: "Dejavu Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    background-color: @background_color;
}

h1 {
    font-size: 1.1em;
    margin-bottom: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    small {
        font-size: 0.6em;
    }

    .silent:after {
        content: ": ";
    }
}

.silent {
    color: lighten(@text_color, 60%);
}

h2 {
    font-size: 1.05em;
}

header h1 {
    font-size: 1em;
    margin-bottom: 0;
    font-weight: normal;

    small {
        font-size: 1em;
    }
}

dl {
    dt {
        font-weight: bold;
    }

    dd {
        margin-left: 5px;
    }
}

a {
    color: darken(@text_color, 10%);
    text-decoration: none;

    &:hover, &:focus {
        color: lighten(@text_color, 20%);
    }
}

#wrapper ul li,
#wrapper ol li {
    padding:5px;
}
