@import "lib/bootstrap/variables.less";

@black: #333;
@grayDarker: #444;
@grayDark: #4a4a4a;
@gray: #5a5a5a;
@grayLight: #aaa;
@grayLighter: #dadada;
@white: #fdfdfd;

@linkColor: #000;
@linkColorHover: @linkColor;

@originalSansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
@sansFontFamily: "News Cycle", "Arial Narrow Bold", sans-serif;
@serifFontFamily: Georgia, "Times New Roman", Times, serif;
@monoFontFamily: Menlo, Monaco, Consolas, "Courier New", monospace;

@baseFontSize: 16px;
@baseFontFamily: @serifFontFamily;
@baseLineHeight: 22px;
@altFontFamily:@sansFontFamily;

@headingsFontFamily: @sansFontFamily;
@headingsFontWeight: bold;
@headingsColor: @black;

@tableBackground: #f9f9f9;
@tableBackgroundAccent: #f6f6f6;
@tableBackgroundHover: #f2f2f2;
@tableBorder: #ccc;

@navbarText: @black;
@navbarLinkColor: @linkColor;
@navbarLinkColorHover: @linkColorHover;

// 1920 / 2 - 20
@navbarCollapseWidth: 940px;

@gridGutterWidth: 5px;
@gridGutterWidth1200: 10px;
@gridGutterWidth768: 5px;

@btnDangerBackground: #CC5E52;
@btnDangerBackgroundHighlight: darken(@btnDangerBackground, 10%);

@btnSuccessBackground: #6BB36D;
@btnSuccessBackgroundHighlight: darken(@btnSuccessBackground, 10%);

@btnWarningBackground: #D9C357;
@btnWarningBackgroundHighlight: darken(@btnWarningBackground, 10%);

@iconSpritePath: "../images/glyphicons-halflings.png";
@iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@bodyBackground: #fcfcfc;
