@import "lib/bootstrap/variables.less";

@black: #333;
@grayDarker: #444;
@grayDark: #4a4a4a;
@gray: #5a5a5a;
@grayLight: #aaa;
@grayLighter: #dadada;
@white: #fdfdfd;

@linkColor: @accentColor;
@linkColorHover: darken(@linkColor, 10%);

@tableBackground: #f9f9f9;
@tableBackgroundAccent: #f6f6f6;
@tableBackgroundHover: #f2f2f2;
@tableBorder: #ccc;

@wellBackground: lighten(desaturate(@accentColor, 10%), 40%);

@navbarText: desaturate(darken(@accentColor, 25%), 15%);
@navbarLinkColor: darken(@accentColor, 15%);
@navbarLinkColorHover: darken(@accentColor, 25%);

@navbarBackgroundHighlight: lighten(desaturate(@accentColor, 30%), 40%);
@navbarBackground: darken(@navbarBackgroundHighlight, 10%);
@navbarBorder: darken(@navbarBackground, 32%);

@heroUnitBackground: lighten(desaturate(@accentColor, 35%), 40%);

// 1920 / 2 - 20
@navbarCollapseWidth: 940px;

@gridGutterWidth: 5px;
@gridGutterWidth1200: 10px;
@gridGutterWidth768: 5px;

@btnDangerBackground: #CC5E52;
@btnDangerBackgroundHighlight: darken(@btnDangerBackground, 10%);

@btnSuccessBackground: #6BB36D;
@btnSuccessBackgroundHighlight: darken(@btnSuccessBackground, 10%);

@btnWarningBackground: #D9C357;
@btnWarningBackgroundHighlight: darken(@btnWarningBackground, 10%);

@iconSpritePath: "../images/glyphicons-halflings.png";
@iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@bodyBackground: #fcfcfc;
