{% extends "base.html" %}

{% block title  %}
    {{ album.artist.name }} - {{ album.name }}
{% endblock %}

{% block content %}
<div id="library">
<p>
    <a
        class="playlist add"
        href="/playlist/add_album/{{ album.slug|urlencode }}">
        Add album
    </a>

    <ul>
    {% for track in album.tracks %}
        <li class="track">
            <p class="name">
                {{ track.name }}
            </p>
            <p class="duration">
                {{ track.duration|format_seconds }}
            </p>
            <a
                class="playlist add"
                href="/playlist/add/{{ track.slug|urlencode }}">
                Add
            </a>
        </li>
    {% endfor %}
    </ul>
</p>
</div>
{% endblock %}

