{% extends "base.html" %}

{% block title  %}
    {{ album.artist.name }} - {{ album.name }}
{% endblock %}

{% block content %}
<div id="library">
    <h1>
        <a
            class="silent"
            href="/artist/{{ album.artist.slug }}">
            {{ album.artist.name }}</a>
        {{ album.name }}
    </h1>

    <ul class="tracks album">

        {% for track in album.tracks %}

            <li class="track">

                {% if track.number %}
                    <span class="track-number">{{ track.number }}</span>
                {% endif %}

                <span class="album-name">{{ track.album.name }}</span>
                <span class="track-name"><a href="/track/{{ track.slug }}">{{ track.name }}</a></span>
                <span class="track-duration">
                    ( {{ track.duration|format_seconds }} )
                </span>

                <a
                    class="playlist add"
                    href="/playlist/add/{{ track.slug|urlencode }}">
                    +
                </a>

            </li>

        {% endfor %}

    </ul>

    <a
        class="playlist add-album"
        href="/playlist/add_album/{{ album.slug|urlencode }}">
        Add all to playlist
    </a>

</div>
{% endblock %}

