{% extends "base.html" %}

{% block title  %}
    {{ artist.name }} - {{ album.name }}
{% endblock %}

{% block content %}
<div id="library">
    <h1>
        <a
            class="silent"
            href="/artist/{{ artist.slug }}">
            {{ artist.name }}</a>
        {{ album.name }}
    </h1>

    <ul class="tracks album">

        {% for track in album.tracks %}
            <li class="track {{ "invalid" if not track.valid else "" }}
            {% if album.artists|length > 1 %}
                {{ "current_artist" if track.artist.id == artist.id else "other_artist" }}
            {% endif %}
                ">
                <span class="text">

                    {% if track.number %}
                        <span class="track-number">{{ track.number }}</span>
                    {% endif %}

                    {% if album.artists|length > 1%}
                        <span class="artist-name"><a href="/artist/{{ track.artist.slug }}">{{ track.artist.name }}</a></span>
                    {% endif %}

                    <span class="album-name">{{ track.album.name }}</span>
                    <span class="track-name"><a href="/track/{{ track.slug }}">{{ track.name }}</a></span>
                    <span class="track-duration">
                        ( {{ track.duration|format_seconds }} )
                    </span>
                </span>

                <a
                    class="queue add"
                    href="/queue/add/{{ track.slug|urlencode }}">
                    +
                </a>

            </li>

        {% endfor %}

    </ul>

    <a
        class="queue add-album"
        href="/queue/add_album/{{ album.slug|urlencode }}">
        Add all to queue
    </a>

</div>
{% endblock %}

