{% extends "body.html" %}

{% block title  %}
    {{ artist.name }}
{% endblock %}

{% block right %}
    {% include 'partials/artist-nav.html' %}
{% endblock %}

{% block content %}
<div id="artist">
    <ul class="breadcrumb">
        <li>
            <a href="/library">Library</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ artist.name }}
        </li>
    </ul>

    {% include "partials/artist-head.html" %}

    <hr />

    <ul class="albums">
        {% for album in artist.albums %}
        <li>
            {% include "partials/album.html" %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
