{% extends "base.html" %}

{% block title  %}
    {{ artist.name }}
{% endblock %}

{% block content %}
<div id="library">
    <h1>
        <span class="silent">artist</span>
        {{ artist.name }}
    </h1>

    {% if lastfm_artist %}
    <h2><a href="{{ lastfm_artist.url }}">Lastfm</a></h2>
    <p>
        {{ lastfm_artist.bio }}
    </p>
    <h2>Similar</h2>
    <p>
        {% for similar in lastfm_artist.similar %}
            <a href="/search/{{ similar.name }}/artist">{{ similar.name }}</a>,
        {% endfor %}
    </p>
    {% endif %}

    {% if namesakes %}
    <h2>Namesakes</h2>
    <p>
        {% for artist in namesakes %}
        <a href="/artist/{{ artist.slug }}">{{ artist.name }}</a>,
        {% endfor %}
    </p>
    {% endif %}

    <h2>Albums</h2>
    <ul>
        {% for album in artist.albums %}
            <li class="album {{ "invalid" if not album.valid else "" }}">
                <a
                    href="/album/{{ artist.slug }}/{{ album.slug }}">
                    <span class="album-name">{{ album.name }}</span>
                    {% if album.date %}
                        <span class="album-date">{{ album.date }}</span>
                    {% endif %}
                    <span class="album-tracks-count">
                        {{ album.tracks|count }}
                        tracks
                    </span>

                </a>

                <a
                    class="queue add-album"
                    href="/queue/add_album/{{ album.slug|urlencode }}">
                    +
                    </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
