<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %} | {{ server_name }}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link
            rel="stylesheet"
            href="/styles/main.css"
            type="text/css" />

        <script
            data-main="/scripts/main"
            src="/scripts/lib/require.js">
        </script>
        <script
            src="/scripts/init.js">
        </script>
    </head>
    <body lang="en">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <span class="throbber"></span>
                    <a class="brand" href="#">opmuse</a>
                    <div id="top">
                    {% if authenticated %}
                        <div class="nav-collapse collapse">
                            <p class="navbar-text pull-right">
                                Logged in as <a href="/users/you" class="navbar-link">{{ request.user.login }}</a>
                            </p>
                            <div class="navbar-search pull-left">
                                <input class="search-query" type="text" placeholder="Search" />
                            </div>
                            <ul class="nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/library">Library</a></li>
                                <li><a href="/users">Users</a></li>
                                <li><a href="/upload">Upload</a></li>
                                <li><a class="logout" href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            {% block container %}
                <div class="row-fluid">
                    <div class="span4">
                        <div id="left">
                        {% if authenticated %}
                            <div class="well">
                                <div id="queue"></div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="span8">
                        <div id="content">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>

        <footer id="footer">
            <div class="footer-content">
                <div class="container-fluid">
                    <div class="row-fluid">
                        {% if authenticated %}
                        <div class="span2">
                            {% include "player.html" %}
                        </div>
                        <div class="span6">
                        </div>
                        <div class="span4">
                            {% include "library_stats.html" %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
