<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %} | opmuse
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {% set ws_port = request.app.config.opmuse['ws.port'] if 'ws.port' in request.app.config.opmuse else None %}

        <script type="text/javascript">
            window.opmuseGlobals = {
                version: '{{ opmuse_version }}',
                authenticated: {{ "true" if request.user else "false" }},
                ws_port: {{ ws_port if ws_port else "null" }}
            };
        </script>

        <link
            rel="stylesheet"
            href="/static/styles/main.css?version={{ opmuse_version }}"
            type="text/css" />

        <link href="/static/images/favicon.png?version=2" rel="shortcut icon" />

        <link rel="apple-touch-icon" href="/static/images/opossum-white.png"/> 

        <script src="/static/scripts/init.js?version={{ opmuse_version }}"></script>

        <script
            data-main="/static/scripts/main.js"
            src="/static/scripts/lib/require.js?version={{ opmuse_version }}">
        </script>
    </head>
    <body lang="en">
        <div id="overlay" class="locked">
            <div class="loading">
                <i class="loader fa fa-spin fa-spinner"></i>
            </div>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
