<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %} | {{ server_name }}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {% set version = request.app.config.opmuse.version %}
        {% set ws_port = request.app.config.opmuse['ws.port'] %}

        <script type="text/javascript">
            window.opmuseGlobals = {
                version: {{ version }},
                authenticated: {{ "true" if request.user else "false" }},
                ws_port: {{ ws_port if ws_port else "null" }}
            };
        </script>

        <link
            rel="stylesheet"
            href="/styles/main.css?version={{ version }}"
            type="text/css" />

        <link href="/images/favicon.png" rel="shortcut icon" />

        <script
            data-main="/scripts/main"
            src="/scripts/lib/require.js?version={{ version }}">
        </script>
        <script
            src="/scripts/init.js?version={{ version }}">
        </script>
    </head>
    <body lang="en">
        <div id="overlay"></div>
        {% block body %}{% endblock %}
    </body>
</html>
