{% if xhr %}
    {% extends "base_xhr.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block body %}
    {% include "message.html" %}

    {% include "navbar.html" %}

    <div class="container-fluid">
        {% block container %}
            <div class="row-fluid">
                <div class="span9">
                    <div class="row-fluid">
                        <div class="span12">
                            {% include "player.html" %}
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div id="messages">
                            </div>
                            <div id="content">
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    {% if authenticated %}
                    <div id="right">
                        {% block right %}{% endblock %}
                    </div>
                    <div id="bottom-right">
                        <div id="queue" class="well well-small">
                            {% include "queue.html" %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% if authenticated %}
        {% include "footer.html" %}
    {% endif %}
{% endblock %}
