{% if xhr %}
    {% extends "base_xhr.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block body %}
    {% include "message.html" %}

    <div id="top" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        {% include "navbar.html" %}
        <div id="navbar-sub" class="navbar-sub">
            {%- block navbar_sub %}{% endblock -%}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10">
                <div id="messages" class="{% block main_class %}{% endblock %}">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% block container %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div id="main" class="{{ self.main_class() }}">
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {% if authenticated %}
                <div class="row">
                    <div class="col-xs-5" id="panel">
                        <div id="panel-container">
                            <div id="panel-full" accesskey="f">
                                <i class="panel-full-icon-full icon-resize-full"></i>
                                <i class="panel-full-icon-small icon-resize-small"></i>
                            </div>
                            <div id="panel-handle" accesskey="e">
                                <i class="panel-handle-icon-open icon-chevron-up"></i>
                                <i class="panel-handle-icon-close icon-chevron-down"></i>
                            </div>
                            {% include "queue/queue.html" %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
