{% if xhr %}
    {% extends "base_xhr.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block body %}
    {% include "message.html" %}

    {% include "navbar.html" %}

    <div class="container-fluid">
        {% block container %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div id="main">
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {% if authenticated %}
                <div class="row-fluid">
                    <div class="span5" id="panel">
                        <div id="panel-container">
                            <div id="panel-handle" accesskey="e">
                                <i class="panel-icon-open icon-chevron-up"></i>
                                <i class="panel-icon-close icon-chevron-down"></i>
                            </div>
                            {% include "player.html" %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
