{% if xhr %}
    {% extends "base_xhr.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block body %}
    <div id="top" class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        {% import "navbar.html" as navbar %}
        {{ navbar.navbar(subnav_file_path, subnav_extra_file_path, authenticated) }}
    </div>

    <div class="container">
        <div id="spacer" class="{% block main_class %}{% endblock %}"></div>
        {% block container %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div id="main" class="{{ self.main_class() }}">
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {% if authenticated %}
                <div class="row">
                    <div class="col-xs-6" id="panel">
                        <div id="panel-container">
                            <div id="panel-full" accesskey="f">
                                <i class="panel-full-icon-full fa fa-expand"></i>
                                <i class="panel-full-icon-small fa fa-compress"></i>
                            </div>
                            <div id="panel-handle" accesskey="e">
                                <i class="panel-handle-icon-open fa fa-chevron-up"></i>
                                <i class="panel-handle-icon-close fa fa-chevron-down"></i>
                            </div>
                            {# optimization, not needed on ajaxify request so
                               we don't include it... #}
                            {% if not xhr %}
                                {% include "queue/queue.html" %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        <div id="version">{{ opmuse_version }}</div>
    </div>
{% endblock %}
