{% if xhr %}
    {% extends "base_xhr.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block body %}
    {% include "message.html" %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <span class="throbber"></span>
                <a class="brand" href="#">opmuse</a>
                <div id="top">
                    <div class="nav-collapse collapse">
                    {% if authenticated %}
                        <p class="navbar-text pull-right navbar-you">
                            Logged in as <a href="/users/you" class="navbar-link">{{ request.user.login }}</a>
                        </p>
                        <div class="navbar-search pull-left">
                            <input class="search-query" type="text" placeholder="Search" />
                        </div>
                    {% endif %}
                        <ul class="nav">
                        {% if authenticated %}
                            <li><a href="/library">Library</a></li>
                            <li><a href="/users">Users</a></li>
                            <li><a href="/upload">Upload</a></li>
                            <li><a class="logout" href="/logout">Logout</a></li>
                        {% else %}
                            <li><a class="home" href="/">Home</a></li>
                            <li><a class="login" href="/login">Login</a></li>
                        {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {% block container %}
            <div class="row-fluid">
                <div class="span8">
                    <div id="messages">
                    </div>
                    <div id="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div class="span4">
                    {% if authenticated %}
                    <div id="right">
                        {% block right %}{% endblock %}
                    </div>
                    <div id="bottom-right">
                        <div id="queue" class="well"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% if authenticated %}
    <footer id="footer">
        <div class="footer-content">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span5">
                        {% include "player.html" %}
                    </div>
                    <div class="span2">
                    </div>
                    <div class="span5">
                        {% include "library_stats.html" %}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endif %}
{% endblock %}
