{% if xhr %}
    {% extends "base_xhr.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}

{% block body %}
    {% include "message.html" %}

    {% include "navbar.html" %}

    <div class="container-fluid">
        {% block container %}
            <div class="row-fluid">
                <div class="span8">
                    <div id="messages">
                    </div>
                    <div id="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div class="span4">
                    {% if authenticated %}
                    <div id="right">
                        {% block right %}{% endblock %}
                    </div>
                    <div id="bottom-right">
                        <div id="queue" class="well">
                            {% include "queue.html" %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% if authenticated %}
        {% include "footer.html" %}
    {% endif %}
{% endblock %}
