<footer id="footer">
    <div class="footer-content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span8">
                    {% include "player.html" %}
                </div>
                <div class="span4">
                    <div id="library_stats">
                        <dl>
                            <dt>Scanning</dt>
                            <dd>{{ 'Yes' if request.library.scanning else 'No' }}</dd>
                        </dl>
                        <dl>
                            <dt>Invalid</dt>
                            <dd>{{ request.library_dao.get_invalid_track_count() }}</dd>
                        </dl>
                        <dl>
                            <dt>Tracks</dt>
                            <dd>{{ request.library_dao.get_track_count() }}</dd>
                        </dl>
                        <dl>
                            <dt>Albums</dt>
                            <dd>{{ request.library_dao.get_album_count() }}</dd>
                        </dl>
                        <dl>
                            <dt>Artists</dt>
                            <dd>{{ request.library_dao.get_artist_count() }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

