<footer id="footer">
    <div class="footer-content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span8">
                    <p><strong>Scanning:</strong> {{ 'Yes' if request.library.scanning else 'No' }}</p>
                    <p><strong>Tracks:</strong> {{ request.library_dao.get_track_count() }}</p>
                    <p><strong>Albums:</strong> {{ request.library_dao.get_album_count() }}</p>
                    <p><strong>Artists:</strong> {{ request.library_dao.get_artist_count() }}</p>
                    <p><strong>Invalid:</strong> {{ request.library_dao.get_invalid_track_count() }}</p>
                </div>
                <div class="span4 copyright">
                    <p>&copy; opmuse 2012-2013</p>
                </div>
            </div>
        </div>
    </div>
</footer>

