{% extends "body.html" %}

{% block title  %}
    Home
{% endblock %}

{% block content %}
{% import "macros/artist-media.html" as artist_media %}
{% import "macros/album-media.html" as album_media %}
<div id="index">
    <ul class="row-fluid">
        <li class="span4">
            <h1><a href="/library/artists/new">Artists</a></h1>
            {% for artist in artists %}
                {{ artist_media.artist_media(artist) }}
            {% endfor %}
        </li>
        <li class="span4">
            <h1><a href="/library/albums/new">Albums</a></h1>
            {% for album in albums %}
                {{ album_media.album_media(album) }}
            {% endfor %}
        </li>
        <li class="span4">
            <h1><a href="/users/users">Users</a></h1>
            {% for user in users %}
                <div class="media">
                    <a href="/users/user/{{ user.login }}">
                        <img class="pull-left media-object img-rounded"
                            src="{{ user.gravatar }}" alt="{{ user.login }}'s Gravatar" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ user.login }}</h4>
                        <p>{{ user.mail }}</p>
                    </div>
                </div>
            {% endfor %}
        </li>
    </ul>
</div>
{% endblock %}
