{% extends "body.html" %}

{% block title  %}
    Home
{% endblock %}

{% block content %}
{% import "macros/media.html" as media %}
<div id="index">
    <ul class="row-fluid">
        <li class="span7">
            <h1>Recent Artists</h1>
            <ul class="row-fluid artists">
                <li class="span6">
                    {% for artist in artists[0:8] %}
                        {{ media.artist_media(artist) }}
                    {% endfor %}
                </li>
                <li class="span6">
                    {% for artist in artists[8:] %}
                        {{ media.artist_media(artist) }}
                    {% endfor %}
                </li>
            </ul>
        </li>
        <li class="span3">
            <h1><a href="/users/users">Users</a></h1>
            {% for user in users %}
                <div class="media">
                    <a href="/users/user/{{ user.login }}">
                        <img class="pull-left media-object img-rounded"
                            src="{{ user.gravatar }}" alt="{{ user.login }}'s Gravatar" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ user.login }}</h4>
                        <p>{{ user.mail }}</p>
                    </div>
                </div>
            {% endfor %}
        </li>
        <li class="span2">
            <h1>Library</h1>
            <dl>
                <dt>Scanning:</dt>
                <dd> {{ 'Yes' if request.library.scanning else 'No' }}</dd>
                <dt>Tracks:</dt>
                <dd> {{ request.library_dao.get_track_count() }}</dd>
                <dt>Albums:</dt>
                <dd> {{ request.library_dao.get_album_count() }}</dd>
                <dt>Artists:</dt>
                <dd> {{ request.library_dao.get_artist_count() }}</dd>
                <dt>Invalid:</dt>
                <dd> {{ request.library_dao.get_invalid_track_count() }}</dd>
            </dl>
        </li>
    </ul>
</div>
{% endblock %}
