{% extends "body.html" %}

{% block title  %}
    Home
{% endblock %}

{% block container %}
    <div id="index" class="index_unauth">
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-10">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-xs-5 music-span">
                            <i class="icon-music"></i>
                        </div>
                        <div class="col-xs-1">
                        </div>
                        <div class="col-xs-6">
                            <p>
                                See that huge note to the left? That's what we're all about, okay?
                            </p>
                            <p>
                                If you have an account you should just <a href="/login">login</a>.
                            </p>
                            <p>
                                If you don't you're out of luck at the moment so get the hell out of here.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
            </div>
        </div>
    </div>
{% endblock %}
