{% extends "body.html" %}

{% block title  %}
    Home
{% endblock %}

{% block container %}
    <div id="index" class="index_unauth">
        <div class="row-fluid">
            <div class="span7">
                <div class="hero-unit">
                    <div class="row-fluid">
                        <div class="span5 music-span">
                            <i class="icon-music"></i>
                        </div>
                        <div class="span1">
                        </div>
                        <div class="span6">
                            <p>
                                <strong>Hey!</strong> See that huge note to the left?
                                That's what we're all about, okay?
                            </p>
                            <p>
                                Now get with the motherfucking
                                program or I'll fucking attack you - attack you with hugs
                                and kisses.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="hero-unit">
                    <p>... start here.</p>
                    {% include "partials/login.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
