{% extends "base.html" %}

{% block title  %}
    Invalid tracks
{% endblock %}

{% block content %}
<div id="invalid_tracks">
    <h1>
        <span class="silent">tracks</span>
        invalid
    </h1>

    <ul class="tracks">

        {% for track in tracks %}
            <li class="track">
                <span class="text">
                    <span class="artist-name"><a href="/artist/{{ track.artist.slug }}">{{ track.artist.name }}</a></span>
                    <span class="track-name"><a href="/track/{{ track.slug }}">{{ track.name }}</a></span>
                </span>
            </li>

        {% endfor %}

    </ul>

</div>
{% endblock %}
