{% extends "base.html" %}

{% block title  %}
    Lastfm
{% endblock %}

{% block content %}
<div id="lastfm">
    <h1>
        <span class="silent">lastfm</span>
        Account
    </h1>

    {% if auth_url %}
    <p>You need to supply a Lastfm account to enable scrobbling of what you play.</p>
    <p>
        <a href="{{ auth_url }}" target="_blank">Click here</a>
        to authorize opmuse to use your Lastfm account. After you've authorized opmuse you need reload this page.
    </p>
    {% elif new_auth %}
    <p>
        Congratulations! You've authenticated as <strong>{{ user_href() }}</strong>.
        We will now start scrobbling the tracks you play to said account.
    </p>
    {% else %}
    <p>
        No worries, you are already authenticated as <strong>{{ user_href() }}</strong>.
    </p>
    {% endif %}
</div>
{% endblock %}

{% macro user_href() %}
    <a href="http://www.last.fm/user/{{ authenticated_user }}">{{ authenticated_user }}</a>
{% endmacro %}
