{% extends "base.html" %}

{% block title  %}
    Library
{% endblock %}

{% block content %}
<div id="library">
    <ul class="breadcrumb">
        <li class="active">
            Library
        </li>
    </ul>

    {% for title, tracks in added.items() %}
    <h2>{{ title }}</h2>
    <ul class="tracks new_tracks">
        {% for track in tracks %}
            <li class="track">
                {% include 'partials/track.html' %}
                <a
                    class="queue add"
                    href="/queue/add/{{ track.slug|urlencode }}">
                    +
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endfor %}

</div>
{% endblock %}
