{% extends "body.html" %}

{% block title  %}
    {{ artist.name }} - {{ album.name }}
{% endblock %}

{% block right %}
    {% include 'partials/artist-nav.html' %}
{% endblock %}

{% block content %}
<div id="album">

    {% include "partials/library-nav.html" %}

    {% include "partials/artist-head.html" %}

    <hr>

    <div class="btn-container">
        <div class="btn-group queue-btn">
            <a
                class="queue add-album btn btn-success"
                href="/queue/add_album/{{ album.slug|urlencode }}">
                Queue all
            </a>
            {% if album.artists|count > 1 %}
            <a
                class="queue add-album btn btn-success"
                href="/queue/add_album/{{ album.slug|urlencode }}/{{ artist.slug }}">
                current artist
            </a>
            {% endif %}
        </div>

        <div class="btn-group edit-btn">
            <a class="btn btn-danger" href="/tag/{% for track in album.tracks -%}
                {{ track.id }},
            {%- endfor %}">Edit</a>
            <a
                class="btn btn-danger"
                role="button"
                data-toggle="modal"
                href="#removeModal">
                Remove
            </a>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        {% set colspan = 4 %}
        {% if album.artists|length > 1%}
            {% set colspan = colspan + 1 %}
        {% endif %}
        {% for track in album.tracks %}
            {% if track.invalid %}
                {% set colspan = colspan + 1 %}
                {% break %}
            {% endif %}
        {% endfor %}
            {% for track in album.tracks %}
            {% if not dir %}
        <tbody>
            {# TODO only supports one path... #}
            {% elif dir != track.paths[0].pretty_dir %}
        </tbody>
        <tbody>
            {% endif %}
            {% if not dir or dir != track.paths[0].pretty_dir %}
            <tr class="dir-info">
                <th colspan="2">
                    Folder
                </th>
                <td colspan="{{ colspan - 2 }}">
                    {{ track.paths[0].pretty_dir }}
                    {% set dir = track.paths[0].pretty_dir %}
                </td>
            </tr>
            {% endif %}
            {% if track.invalid %}
            <tr class="error">
            {% endif %}
                <td class="indent">&nbsp;</td>
                <td>{{ track.number }}</td>
                {% if album.artists|length > 1%}
                <td>
                    {% if track.artist.id != artist.id %}
                        <a href="/library/artist/{{ track.artist.slug }}">{{ track.artist.name }}</a>
                    {% else %}
                        {{ track.artist.name }}
                    {% endif %}
                </td>
                {% endif %}
                <td>
                    <a href="/library/track/{{ track.slug }}">{{ track.name }}</a>
                    <a
                        class="btn btn-mini btn-success queue add"
                        href="/queue/add/{{ track.slug|urlencode }}">
                        Queue
                    </a>
                </td>
                <td>{{ track.duration|format_seconds }}</td>
                {% if track.invalid %}
                    <td>{% include "partials/track-invalid.html" %}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="{{ colspan }}">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
    <div class="modal hide" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="removeModalLabel">Remove Album</h3>
        </div>
        <div class="modal-body">
            <p>This will remove the whole album from opmuse and all tracks from <strong>the filesystem</strong>.</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            <a class="btn" data-ajaxify="continue" data-dismiss="modal" href="/remove/album/{{ album.id }}">Yes</a>
        </div>
    </div>
</div>
{% endblock %}

