{% extends "base.html" %}

{% block title  %}
    Library
{% endblock %}

{% block content %}
<div id="library">
    <ul class="breadcrumb">
        <li class="active">
            Library
        </li>
    </ul>

    <div class="albums">
        <ul class="active item thumbnails">
        {% for album in showcase_albums %}
            <li class="thumbnail">
                {% set artist = album.artists[0] %}
                {% include "partials/album.html" %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
