{% extends "body.html" %}

{% block title  %}
    Library
{% endblock %}

{% block right %}
    {% include "partials/library-nav.html" %}
{% endblock %}

{% block content %}
<div id="library">
    <ul class="breadcrumb">
        <li>
            <a href="/library">Library</a>
            <span class="divider">/</span>
        </li>
        <li class="active">Random</li>
    </ul>

    <ul class="albums">
    {% for album in albums %}
        <li>
            {% include "partials/album.html" %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
