{% extends "body.html" %}

{% block title  %}
    Library
{% endblock %}

{% block right %}
    {% include "partials/library-nav.html" %}
{% endblock %}

{% block content %}
<div id="library">
    <ul class="breadcrumb">
        <li>
            <a href="/library">Library</a>
            <span class="divider">/</span>
        </li>
        <li class="active">Invalid</li>
    </ul>

    <ul class="albums">
    {% for album in albums %}
        <li>
            {% include "partials/album.html" %}
        </li>
    {% endfor %}
    </ul>

    <div class="pagination pagination-centered">
        <ul>
            {% if page > 1 %}
            <li><a href="/library/invalid?page={{ page - 1 }}">Previous</a></li>
            {% endif %}
            <li><a href="/library/invalid?page={{ page + 1 }}">Next</a></li>
        </ul>
    </div>
</div>
{% endblock %}
