{% extends "body.html" %}

{% block body_class %}login-body{% endblock %}
{% block main_class %}login-container{% endblock %}

{% block title  %}
    Login
{% endblock %}

{% block navbar %}{% endblock %}

{% block container %}
<div id="login">
    <div class="jumbotron">
        <div class="ophelia-box">
            <img class="ophelia" width="180" height="180" src="{{ "assets/images/opossum.png" | webpack }}" />
        </div>
        <div class="login-box">
            {% include "partials/login.html" %}
        </div>
    </div>
</div>
{% endblock %}
