<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <span class="throbber"></span>
            <span class="brand">opmuse</span>
            <div id="top">
                <div class="nav-collapse collapse">
                {% if authenticated %}
                    <p class="navbar-text pull-right navbar-you">
                        <a class="logout btn btn-small btn-danger"
                            href="/logout?came_from={{ current_url|urlencode }}">
                            Logout
                        </a>
                    </p>
                {% endif %}
                    <ul class="nav">
                        <li class="{{ "active" if request.path_info|startswith("/index") }}">
                            <a href="/">Home</a>
                        </li>
                        {% if authenticated %}
                            <li class="{{ "active" if request.path_info|startswith("/library") }}">
                                <a href="/library/albums/new">Library</a>
                            </li>
                            <li class="{{ "active" if request.path_info|startswith("/users") }}">
                                <a href="/users/users">Users</a>
                            </li>
                            <li class="navbar-logout">
                                <a class="logout"
                                    href="/logout?came_from={{ current_url|urlencode }}">
                                    Logout
                                </a>
                            </li>
                            <li class="navbar-search">
                                <input class="search-query" type="text" placeholder="Search" />
                            </li>
                        {% else %}
                            <li class="{{ "active" if request.path_info == "/login" }}">
                                <a class="login" href="/login">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

