<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <span class="throbber"></span>
            <a class="brand" href="#">opmuse</a>
            <div id="top">
                <div class="nav-collapse collapse">
                {% if authenticated %}
                    <p class="navbar-text pull-right navbar-you">
                        Logged in as <a href="/users/you" class="navbar-link">{{ request.user.login }}</a>
                    </p>
                    <div class="navbar-search pull-left">
                        <input class="search-query" type="text" placeholder="Search" />
                    </div>
                {% endif %}
                    <ul class="nav">
                    {% if authenticated %}
                        <li><a href="/library">Library</a></li>
                        <li><a href="/users">Users</a></li>
                        <li><a href="/upload">Upload</a></li>
                        <li><a class="logout" href="/logout">Logout</a></li>
                    {% else %}
                        <li><a class="home" href="/">Home</a></li>
                        <li><a class="login" href="/login">Login</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

