<div class="navbar-inner navbar-main">
    <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <span class="brand">
            <span id="letter1" class="letter">o</span>
            <span id="letter2" class="letter">p</span>
            <span id="letter3" class="letter">m</span>
            <span id="letter4" class="letter">u</span>
            <span id="letter5" class="letter">s</span>
            <span id="letter6" class="letter">e</span>
        </span>
        <div id="navbar-main" class="nav-collapse collapse">
        {% if authenticated %}
            <p class="navbar-text pull-right navbar-you">
                <a class="logout btn btn-small"
                    href="/logout?came_from={{ current_url|urlencode }}">
                    <i class="icon-signout"></i>
                    Sign out {{ request.user.login }}
                </a>
            </p>
        {% endif %}
            <ul class="nav">
                {% if authenticated %}
                    <li class="{{ "active" if request.path_info|startswith("/dashboard") }}">
                        <a href="/">Dashboard</a>
                    </li>
                    <li class="{{ "active" if request.path_info|startswith("/library") }}">
                        <a href="/library/albums">Library</a>
                    </li>
                    <li class="{{ "active" if request.path_info|startswith("/users") }}">
                        <a href="/users/users">Users</a>
                    </li>
                    <li class="navbar-search">
                        <input accesskey="s" class="search-query" type="text" placeholder="Search" autocomplete="off" />
                    </li>
                {% else %}
                    <li class="{{ "active" if request.path_info|startswith("/index") }}">
                        <a href="/">Home</a>
                    </li>
                    <li class="{{ "active" if request.path_info == "/login" }}">
                        <a class="login" href="/login">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
