<audio
    id="player"
    preload="none">
</audio>

<div id="player-controls">
    <a
        class="icon next-icon"
        id="next-button"
        href="#">
        Next
    </a>
    <a
        class="icon play-icon"
        id="play-button"
        href="#">
        Play
    </a>
    <a
        class="icon pause-icon"
        id="pause-button"
        href="#">
        Pause
    </a>
</div>

<div id="player-progress">
    <div class="progress progress-striped">
        <div class="bar" style="width: 0%"></div>
    </div>
</div>

<div id="player-stream">
    <a class="open-stream btn"
        href="/play.m3u">
        Open Stream
    </a>
</div>
