<ol class="tracks">
    {% for queue in queues %}
        {% if album_id != queue.track.album.id or artist_id != queue.track.artist.id %}
        <li class="album-header">
            <a href="/artist/{{ queue.track.artist.slug }}">
                {{ queue.track.artist.name }}
            </a> -
            <a href="/album/{{ queue.track.artist.slug }}/{{ queue.track.album.slug }}">
                {{ queue.track.album.name }}
            </a>
        </li>
        {% endif %}
        {% set album_id = queue.track.album.id %}
        {% set artist_id = queue.track.artist.id %}
        <li class="{{ "playing active" if queue.playing }} {{ "played" if queue.played }}">
            {% set track = queue.track %}
            <span class="text">
                <span class="track-number">{{ track.number }}</span>
                <span class="track-name">
                    <a href="/track/{{ track.slug }}">
                        {{ track.name }}
                    </a>
                </span>
            </span>
            <span class="track-info">
                <span class="track-duration">
                    {{ track.duration|format_seconds }}
                </span>
                <a
                    class="remove label label-important"
                    href="/queue/remove/{{ track.slug }}">
                    X
                </a>
            </span>
            <div class="clear"></div>
        </li>
    {% endfor %}
</ol>

<div class="btn-group">
    <a
        id="clear-played-queue"
        class="btn"
        href="/queue/clear/played">
        Clear played</a>
    <a
        id="clear-queue"
        class="btn"
        href="/queue/clear">
        Clear queue</a>
</div>
