<div class="btn-group">
    <a
        id="clear-queue"
        class="btn btn-mini btn-danger"
        href="/queue/clear">
        <i class="icon-remove-sign"></i>
        All
    </a>
    <a
        id="clear-played-queue"
        class="btn btn-mini btn-danger"
        href="/queue/clear/played">
        <i class="icon-remove-sign"></i>
        played
    </a>
</div>

<div class="clear"></div>

<ol class="tracks">
    {% for queue in queues %}
        {% set q = queue[0] %}
        <li>
        <span class="album-header" title="{{ q.track.artist.name }} - {{ q.track.album.name }}
                {%- if q.track.disc -%}
                    - Disc {{ q.track.disc }}
                {%- endif -%}">
                <a href="/{{ q.track.artist.slug|urlencode }}">
                    {{ q.track.artist.name }}
                </a> -
                <a href="/{{ q.track.artist.slug|urlencode }}/{{ q.track.album.slug|urlencode }}">
                    {{ q.track.album.name }}
                </a>
                {% if q.track.disc %}
                    - Disc {{ q.track.disc }}
                {% endif %}
            </span>
            <span class="album-info">
                <a
                    class="remove"
                    href="/queue/remove/
                    {%- for q in queue -%}
                        {{ q.track.id }},
                    {%- endfor -%}
                    ">
                    <span class="icon-remove-sign"></span>
                </a>
            </span>
        </li>
        {% for q in queue %}
            <li data-track-duration="{{ q.track.duration }}" class="track {{ "playing active" if q.playing }} {{ "played" if q.played }}">
                <span class="text">
                    <span class="track-number">{{ q.track.number }}</span>
                    <span class="track-name" title="{{ q.track.name }}">
                        <a href="/library/track/{{ q.track.slug|urlencode }}">
                            {{ q.track.name }}
                        </a>
                    </span>
                </span>
                <span class="track-info">
                    <span class="track-duration">
                        {{ q.track.duration|format_seconds }}
                    </span>
                    <a
                        class="remove"
                        href="/queue/remove/{{ q.track.id }}">
                        <span class="icon-remove-sign"></span>
                    </a>
                </span>
                <div class="clear"></div>
            </li>
        {% endfor %}
    {% endfor %}
</ol>
