<ol class="tracks">
    {% for queue in queues %}
        {% if album_id != queue.track.album.id %}
        <li class="album-header">
            <a href="/artist/{{ queue.track.artist.slug }}">
                {{ queue.track.artist.name }}
            </a> -
            <a href="/album/{{ queue.track.artist.slug }}/{{ queue.track.album.slug }}">
                {{ queue.track.album.name }}
            </a>
        </li>
        {% endif %}
        {% set album_id = queue.track.album.id %}
        <li class="{{ "playing active" if queue.playing }} {{ "played" if queue.played }}">
            {% set track = queue.track %}
            {% include 'partials/track.html' %}
            <a
                class="remove"
                href="/queue/remove/{{ track.slug }}">
                X
            </a>
            <div class="clear"></div>
        </li>
    {% endfor %}
</ol>

<div class="btn-group">
    <a
        id="clear-played-queue"
        class="btn btn-danger"
        href="/queue/clear/played">
        Clear played</a>
    <a
        id="clear-queue"
        class="btn btn-danger"
        href="/queue/clear">
        Clear queue</a>
</div>
