{% extends "base.html" %}

{% block title  %}
    Search
{% endblock %}

{% block content %}
<div id="search">
    <h1>
        <span class="silent">search</span>
        Results
    </h1>

    <ul class="artists">
        {% for key, artist in results.items() %}
        <li>
            <span class="silent">artist</span>
            <a href="/artist/{{ artist.entity.slug }}">{{ artist.entity.name }}</a>
            <ul class="albums">
                {% for key, album in artist.albums.items() %}
                <li>
                    <span class="silent">album</span>
                    <a href="/album/{{ artist.entity.slug }}/{{ album.entity.slug }}">{{ album.entity.name }}</a>
                    <a
                        class="playlist add-album"
                        href="/playlist/add_album/{{ album.entity.slug }}">
                        +
                    </a>
                    <ul class="tracks">
                        {% for key, track in album.tracks.items() %}
                        <li>
                            {{ track.entity.name }}
                            <a
                                class="playlist add"
                                href="/playlist/add/{{ track.entity.slug }}">
                                +
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
