{% extends "base.html" %}

{% block title  %}
    Tag
{% endblock %}

{% block content %}
<div id="tag">
    <h1>
        <span class="silent">tag</span>
        Edit
    </h1>

    <a href="#" class="lock album">Lock album</a>
    <a href="#" class="lock artist">Lock artist</a>

    <form method="post" action="/tag/edit">
    <ul>
    {% for track in tracks %}
        <li>
            <input type="hidden" name="ids" value="{{ track.id }}" />
            <dl>
                <dt>Artist</dt>
                <dd>
                    <input type="text" class="artist" name="artists" value="{{ track.artist.name }}" />
                </dd>
                <dt>Album</dt>
                <dd>
                    <input type="text" class="album" name="albums" value="{{ track.album.name }}" />
                </dd>
                <dt>Name</dt>
                <dd>
                    <input type="text" class="track" name="tracks" value="{{ track.name }}" />
                </dd>
            </dl>
        </li>
    {% endfor %}
    </ul>
    <button type="submit">Edit tags and/or move files</button>
    </form>
</div>
{% endblock %}


