{% extends "base.html" %}

{% block title  %}
    Tag
{% endblock %}

{% block content %}
<div id="tag">
    <h1>
        <span class="silent">tag</span>
        Confirm edit / move.
    </h1>
    <h2>Moves</h2>
    <p>Do you want us to move the tracks into their respective artist and album folders too?</p>
    <form method="post" action="/tag/move">
        {% for track in update_tracks %}
        <input type="hidden" name="ids" value="{{ track['id'] }}" />
        <input type="hidden" name="artists" value="{{ track['artist'] }}" />
        <input type="hidden" name="albums" value="{{ track['album'] }}" />
        <input type="hidden" name="tracks" value="{{ track['track'] }}" />
        {% endfor %}
        <button name="yes" type="submit" value="yes">Yes, move them.</button>
        <button name="no" type="submit" value="no">No, just fix the tags.</button>
    </form>
</div>
{% endblock %}


