{% extends "base.html" %}

{% block title  %}
    Tag
{% endblock %}

{% block content %}
<div id="tag">
    <h1>Edited and moved</h1>
    <ul class="tracks">
        {% for track in tracks %}
            <li class="track">
                {% include "partials/track.html" %}
            </li>
        {% endfor %}
    </ul>

    {% if messages %}
    <h2>Messages</h2>
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}


