{% extends "body.html" %}

{% block title  %}
    Tag
{% endblock %}

{% block content %}
<div id="tag">
    <h1>
        Confirm edit / move.
    </h1>
    <p>Do you want us to move the tracks into their respective artist and album folders too?</p>
    <form method="post" action="/tag/move">
        {% for track in update_tracks %}
            {% for key, value in track.items() %}
            <input type="hidden" name="{{ key }}s" value="{{ value }}" />
            {% endfor %}
        {% endfor %}
        <button class="btn" name="yes" type="submit" value="yes">Yes, move them.</button>
        <button class="btn" name="no" type="submit" value="no">No, just fix the tags.</button>
    </form>
</div>
{% endblock %}


