{% extends "base.html" %}

{% block title  %}
    {{ track.artist.name }} - {{ track.album.name }} - {{ track.name }}
{% endblock %}

{% block content %}
<div id="library">
    <h1>
        <a
            class="silent"
            href="/album/{{ track.artist.slug }}/{{ track.album.slug }}">
            {{ track.artist.name }} - {{ track.album.name }}</a>
        {{ track.name }}
    </h1>

    <dl>
        <dt>Valid</dt>
        <dd>{{ track.valid }}</dd>
        <dt>Number</dt>
        <dd>{{ track.number }}</dd>
        <dt>Duration</dt>
        <dd>{{ track.duration|format_seconds }}</dd>
        <dt>Format</dt>
        <dd>{{ track.format }}</dd>
        <dt>Files</dt>
        <dd>
        <ul>
            {% for path in track.paths %}
            {# when displaying non-utf8 filenames the names will be incorrect,
            don't think we can solve this, maybe aid the user in renaming the
            files with our metadata... #}
            <li>{{ path.path.decode('utf8', 'replace') }}</li>
            {% endfor %}
        </ul>
        </dd>
    </dl>

    <a
        class="queue add"
        href="/queue/add/{{ track.slug|urlencode }}">
        Add track
    </a>

</div>
{% endblock %}

