{% extends "base.html" %}

{% block title  %}
    {{ track.artist.name }} - {{ track.album.name }} - {{ track.name }}
{% endblock %}

{% block right %}
    {% include 'partials/artist-nav.html' %}
{% endblock %}

{% block content %}
<div id="library">
    <ul class="breadcrumb">
        <li>
            <a href="/library">Library</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="/artist/{{ track.artist.slug }}">{{ track.artist.name }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="/album/{{ track.artist.slug }}/{{ track.album.slug }}">{{ track.album.name }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ track.name }}</li>
    </ul>

    {% include "partials/artist-head.html" %}

    <hr>

    <div class="btn-group">
        <a
            class="queue add btn btn-success"
            href="/queue/add/{{ track.slug|urlencode }}">
            Queue
        </a>
        <a class="btn btn-warning" href="/tag/{{ track.id }}">Edit tags and/or move files</a>
    </div>

    <dl class="dl-horizontal">
        <dt>Valid</dt>
        <dd>{{ track.valid }}</dd>
        <dt>Artist</dt>
        <dd>{{ track.artist.name }}</dd>
        <dt>Album</dt>
        <dd>{{ track.album.name }}</dd>
        <dt>Track</dt>
        <dd>{{ track.name }}</dd>
        <dt>Number</dt>
        <dd>{{ track.number }}</dd>
        <dt>Duration</dt>
        <dd>{{ track.duration|format_seconds }}</dd>
        <dt>Date (Year)</dt>
        <dd>{{ track.date if track.date else "Unknown" }}</dd>
        <dt>Format</dt>
        <dd>{{ track.format }}</dd>
        <dt>Bitrate</dt>
        <dd>{{ track.bitrate }}</dd>
        <dt>Files</dt>
        <dd>
        <ul>
            {% for path in track.paths %}
            {# when displaying non-utf8 filenames the names will be incorrect,
            don't think we can solve this, maybe aid the user in renaming the
            files with our metadata... #}
            <li>{{ path.path.decode('utf8', 'replace') }}</li>
            {% endfor %}
        </ul>
        </dd>
    </dl>

</div>
{% endblock %}

