{% extends "body.html" %}

{% block title  %}
    Upload
{% endblock %}

{% block content %}
<div id="upload">
    <form id="fileupload" action="/upload/add" method="POST" enctype="multipart/form-data">
        <div class="btn-group">
            <span class="btn add">
                <span>Add files</span>
                <input type="file" name="files" multiple>
            </span>
            <button type="submit" class="btn start">
                <span>Upload</span>
            </button>
            <a href="#" class="btn edit-invalid">Edit invalid tracks</a>
        </div>
        <hr />
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        File
                    </th>
                    <th>
                        Progress
                    </th>
                </tr>
            </thead>
            <tbody class="files">
                <tr class="tmpl">
                    <td class="filename"></td>
                    <td>
                        <div class="progress progress-striped progress-success">
                            <div class="bar" style="width: 0%"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <hr />

    <div class="uploaded">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Track</th>
                </tr>
            </thead>
            <tbody class="tracks">
            </tbody>
            <thead>
                <tr>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody class="messages">
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

