{% extends "base.html" %}

{% block title  %}
    Upload
{% endblock %}

{% block content %}
<div id="upload">
    <h1>Upload</h1>

    <form method="post" action="/upload/add" enctype="multipart/form-data">
        <input type="file" name="files" multiple="multiple" />
        <button type="submit">Upload</button>
    </form>

    {% if tracks %}
    <h2>Uploaded</h2>
    <ul class="tracks album">
        {% for track in tracks %}
            <li class="track">
                {% include "partials/track.html" %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if messages %}
    <h2>Messages</h2>
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}

