{% extends "body.html" %}

{% block title %}
    User - {{ user.login }}
{% endblock %}

{% block content %}
<div id="users">
    <ul class="breadcrumb">
        <li>
            <a href="/users">Users</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ user.login }}
        </li>
    </ul>

    <ul class="row-fluid">
        <li class="span11">
            {% if lastfm_user %}
            <table class="table table-striped table-bordered">
                {% for artist in lastfm_user.top_artists_overall %}
                <tr>
                    <td>{{ artist.index }}</td>
                    <td><a href="/search/{{ artist.name }}/artist">{{ artist.name }}</a></td>
                    <td>{{ artist.weight|format_number }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock %}

