{% extends "base.html" %}

{% block title %}
    User - {{ user.login }}
{% endblock %}

{% block content %}
<div id="users">
    <ul class="breadcrumb">
        <li>
            <a href="/users">Users</a>
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ user.login }}
        </li>
    </ul>

    <ul class="row-fluid">
        <li class="span5">
            <h3>Lastfm Top Artists</h3>

            {% if lastfm_user %}
            <ul>
                {% for artist in lastfm_user.top_artists_overall %}
                    <li><a href="/search/{{ artist.name }}/artist">{{ artist.name }}</a> {{ artist.weight }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        <li class="span7">
            <h3>Queue</h3>

            <ul class="tracks">
            {% for queue in queues %}
                <li class="{{ "playing" if queue.playing }} {{ "played" if queue.played }}">
                    {% set track = queue.track %}
                    {% include "partials/track.html" %}
                </li>
            {% endfor %}
            </ul>
        </li>
    </ul>
</div>
{% endblock %}

