{% extends "body.html" %}

{% block title  %}
    Dashboard
{% endblock %}

{% import "macros/album.html" as album_macros %}
{% import "macros/covers.html" as covers %}
{% import "macros/urls.html" as urls %}
{% import "macros/listened.html" as listened %}

{% macro _user(user, small_gravatar = False) %}
    <div class="media">
        <p class="pull-left">
            <a href="/users/{{ user.user.login }}">
                <img src="{{ user.user.gravatar_small if small_gravatar else user.user.gravatar }}"
                    class="img-rounded media-object" alt="{{ user.user.login }}'s Gravatar" />
            </a>
        </p>
        <div class="media-body">
            <p>
                <strong>{{ user.user.login }}</strong>.
                {% if user.user.active %}
                    Last seen {{ user.user.active|pretty_date }}.
                {% endif %}
                {% if user.user.lastfm_user %}
                    {% if user.remotes_user and user.remotes_user.lastfm %}
                        Played <strong>{{ user.remotes_user.lastfm.playcount|format_number }}</strong> tracks.
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>
{% endmacro %}

{% block main_class %}dashboard-container{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="dashboard-box panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon fa fa-play"></i>
                    Listening Now
                </h2>
            </div>
            <ul class="list-group listening-now reloader" id="dashboard-listening-now">
                {% for user in all_users %}
                    {% if user.playing_track %}
                    <li class="list-group-item">
                        {% set track = user.playing_track %}
                        {{ listened.users_badge([user.user]) }}
                        <a href="{{ urls.track_url(track) }}">
                            {% if track.album %}
                                {{ covers.album(track.album, 50, "img-small-thumbnail") }}
                            {% elif track.artist %}
                                {{ covers.artist(track.artist, 50, "img-rounded") }}
                            {% endif %}
                                <span class="heading">
                                    {{ track.name }}
                                </span>
                            </a>
                        {% if track.artist %}
                            <p>
                                <a href="{{ urls.artist_url(track.artist) }}">
                                    {{ track.artist.name }}
                                </a>
                            </p>
                        {% endif %}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="dashboard-box panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <i class="icon fa fa-backward"></i>
                    Recently Listened
                </h2>
            </div>
            <ul class="list-group recently-listened reloader {{ 'fetching' if recently_listeneds is sameas None else '' }}"
                id="dashboard-recently-listened">
                {% if recently_listeneds is sameas None %}
                    <i class="loader fa fa-spin fa-spinner"></i>
                    Fetching recently listened.
                {% else %}
                    {{ listened.print_recently_listeneds(recently_listeneds) }}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="panel panel-info dashboard-box">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Top Artists
                    <i class="icon fa fa-microphone"></i>
                </h3>
            </div>
            <div class="top-artists panel-body reloader {{ 'fetching' if top_artists is sameas None else '' }}"
                id="dashboard-top-artists">
                {% if top_artists is sameas None %}
                    <i class="loader fa fa-spin fa-spinner"></i>
                    Fetching top artists.
                {% else %}
                    {% for top_artist in top_artists %}
                        <a href="{{ urls.artist_url(top_artist.artist) }}" rel="tooltip"
                            title="{{ top_artist.count|format_number }} plays">
                            {{ covers.artist(top_artist.artist, 90, "img-rounded") }}
                            <h4 title="{{ top_artist.artist.name }}">
                                {{ top_artist.artist.name }}
                            </h4>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="dashboard-box panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <i class="icon fa fa-volume-up"></i>
                            New Albums
                        </h2>
                    </div>
                    <ul class="new-albums list-group">
                        {% for new_album in new_albums %}
                        <li class="list-group-item">
                            <a href="{{ urls.album_url(new_album) }}">
                                {{ covers.album(new_album, 70, "img-small-thumbnail") }}
                                {{ new_album.name }}
                            </a>
                            <p>{{ album_macros.album_desc(new_album, true, false) }}</p>
                            <p>
                                {% if new_album.created_user %}
                                    Uploaded by
                                    <a href="/users/{{ new_album.created_user.login }}">
                                        {{ new_album.created_user.login }}
                                    </a>
                                {% endif %}
                            </p>
                            <div class="clear"></div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="dashboard-box panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <i class="icon fa fa-user"></i>
                            You
                        </h2>
                    </div>
                    <div class="user panel-body">
                        {{ _user(current_user) }}
                    </div>
                </div>
                <div class="dashboard-box panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <i class="icon fa fa-group"></i>
                            Users
                        </h2>
                    </div>
                    <div class="users panel-body">
                        {% for user in users %}
                            {{ _user(user, True) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
