{% extends "body.html" %}

{% block main_class %}users-container{% endblock %}

{% block title  %}
    Users
{% endblock %}

{% block content %}
<div id="users">
    <div class="row">
        <div class="col-12">
            <p>
                List of all users in <strong>opmuse</strong> ordered by last seen.
            </p>

            <hr />

            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Last seen</th>
                    <th>Created</th>
                    <th>Roles</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td class="name">
                        <a href="/users/{{ user.login }}">
                            {% if user.gravatar %}
                            <img class="img-rounded" src="{{ user.gravatar_xsmall }}" alt="{{ user.login }}'s Gravatar" />
                            {% endif %}
                        </a>
                        <a href="/users/{{ user.login }}">
                            {{ user.login }}
                        </a>
                    </td>
                    <td>
                        {% if user.active %}
                            {{ user.active|pretty_date }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        {{ user.created|pretty_date }}
                    </td>
                    <td>
                        {% for role in user.roles %}
                            {{ role.name }}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

