{% extends "body.html" %}
{% set subnav_file_path = "partials/users-nav.html" %}

{% block title  %}
    Users
{% endblock %}

{% block content %}
<div id="users">
    {% if is_granted('admin') %}
        <a href="/users/users/add" class="btn btn-default btn-sm">
            <i class="fa fa-plus"></i>
            Add User
        </a>
    {% endif %}

    <hr />

    <table class="table table-striped table-bordered">
        <tr>
            <th>Name</th>
            <th>Lastfm User</th>
            {% if is_granted('admin') %}
                <th>Actions</th>
            {% endif %}
        </tr>
        {% for user in users %}
        <tr>
            <td class="name">
                <a href="/users/user/{{ user.login }}">
                    {% if user.gravatar %}
                    <img class="img-rounded" src="{{ user.gravatar_xsmall }}" alt="{{ user.login }}'s Gravatar" />
                    {% endif %}
                </a>
                <a href="/users/user/{{ user.login }}">
                    {{ user.login }}
                </a>
            </td>
            <td>
                {% if user.lastfm_user %}
                    {{ user.lastfm_user }}
                {% endif %}
            </td>
            {% if is_granted('admin') %}
                <td>
                    <a href="/users/user/{{ user.login }}/edit" class="btn btn-default btn-xs">
                        <i class="fa fa-pencil"></i>
                        Edit
                    </a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}

