{% extends "body.html" %}

{% block title %}
    User - {{ user.login }}
{% endblock %}

{% block right %}
<div class="artist-nav well sidebar-nav">
    {% if lastfm_user %}
    <ul class="nav nav-list">
        <li class="nav-header">External pages</li>
        <li>
            <a href="{{ lastfm_user.url }}">Go to Lastfm user page</a>
        </li>
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div id="users">
    {% include "partials/users-nav.html" %}

    <ul class="row-fluid">
        <li class="span5">
            {% if top_artists_overall %}
                <table class="table table-striped table-bordered">
                    <tr>
                        <th colspan="3">Lastfm Top Artists</th>
                    </tr>
                    {% for artist in top_artists_overall %}
                    <tr>
                        <td>{{ artist.index }}</td>
                        <td><a href="/search/{{ artist.name }}/artist">{{ artist.name }}</a></td>
                        <td>{{ artist.weight|format_number }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="pagination pagination-centered">
                    <ul>
                        {% if page > 1 %}
                        <li><a href="/users/user/{{ user.login }}?page={{ page - 1 }}">Prev</a></li>
                        {% endif %}
                        <li><a href="/users/user/{{ user.login }}?page={{ page + 1 }}">Next</a></li>
                    </ul>
                </div>
            {% endif %}
        </li>
        <li class="span6">
            {% if lastfm_user %}
                <table class="table table-striped table-bordered">
                    <tr>
                        <th colspan="2">Lastfm Recent Tracks</th>
                    </tr>
                    {% for track in lastfm_user.recent_tracks %}
                    {% if not last_track or last_track.artist != track.artist %}
                    <tr>
                        <th colspan="2"><a href="/search/{{ track.artist }}/artist">{{ track.artist }}</a></th>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>{{ track.timestamp|pretty_date }}</td>
                        <td><a href="/search/{{ track.name }}">{{ track.name }}</a></td>
                    </tr>
                    {% set last_track = track %}
                    {% endfor %}
                </table>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock %}

