{% extends "body.html" %}
{% set subnav_file_path = "partials/users-nav.html" %}

{% block title  %}
    Users - Add
{% endblock %}

{% block content %}
<div id="users">
    <h2>Add User</h2>

    <hr />

    <form method="post" action="/users/users/add_submit" class="users-add-form form-horizontal clear">
        <div class="control-group">
            <label class="control-label" for="login-input">Login</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="fa fa-user"></i></span>
                    <input autocomplete="off" type="text" name="login" id="login-input"
                        placeholder="Login" value="" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="mail-input">Mail</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="fa fa-envelope"></i></span>
                    <input autocomplete="off" type="email" name="mail" id="mail-input"
                        placeholder="login@example.com" value="" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="mail-input">Roles</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="fa fa-group"></i></span>
                    <select multiple="multiple" autocomplete="off" name="roles" id="roles-input">
                        {% for role in roles %}
                            <option value="{{ role.id }}">{{ role.name }}</options>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password1">Password</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="fa fa-key"></i></span>
                    <input autocomplete="off" type="password" name="password1" id="password1"
                        placeholder="Password" />
                </div>
                <div class="input-prepend">
                    <span class="add-on"><i class="fa fa-key"></i></span>
                    <input autocomplete="off" type="password" name="password2" id="password2"
                        placeholder="Confirm Password" />
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-plus"></i>
                    Add
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

