{% extends "body.html" %}

{% block title  %}
    Users
{% endblock %}

{% block content %}
<div id="users">
    {% include "partials/users-nav.html" %}

    <table class="table table-striped table-bordered">
        <tr>
            <th>Name</th>
            <th>Lastfm User</th>
        </tr>
        {% for user in users %}
        <td><a href="/users/user/{{ user.login }}">{{ user.login }}</a></td>
        <td>{{ user.lastfm_user }}</td>
        {% endfor %}
    </table>

</div>
{% endblock %}

