.tracks {
    .zebra-striping;

    clear: both;

    li.active {
        font-weight: bold;
    }

    li {
        &.played {
            background: #BBE0BB;
        }

        &.playing {
            background: #E0BBBB;
        }

        clear: both;
        overflow: hidden;

        .text {
            float: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            width: 390px;
        }

        .artist-name {
            &:after {
                content: " -";
            }
        }

        &.other_artist {
            .track-name,
            .track-number,
            .album-name,
            .artist-name,
            a {
                color: #777;
            }
        }

        .album-name {
            display: none;
        }
        .track-duration {
            display: none;
            &:before {
                content: "- ";
            }
        }

        .track-number {
            display: inline-block;
            color: #888;
            width: 12px;
            font-size: 0.6em;
        }
    }

    &.album {
        .track-name:before {
            content: "";
        }
    }

}
